<div class="container-fluid" ng-show="showAllApps">
  <div class="navigation">
    <span><a href="#/"> Home</a><span class="color-black">></span> Admin Module <span class="color-black">></span>Application Configuration</span>
  </div>
  <section class="content">
    <section class="small widget">
      <header>
        <span class="icon">&#9874;</span>
        <hgroup>
          <h1 class="pull-left">Application Configuration : {{filterOption.name}}</h1>
        </hgroup>
        <button class="btn green-button hidden-xs color-fff pull-right" ng-show="superAdminLogin == true" data-toggle="modal" data-target="#myModal" ng-click="createPopup()">Create Application</button>
        <button class="btn green-button visible-xs color-fff pull-right" ng-show="superAdminLogin == true" data-toggle="modal" data-target="#myModal" ng-click="createPopup()">Create</button>
      </header>
      <div class="content cycle">
        <div align="right">
          <div class="d-table">
            <div class="d-tbcell">
              <!--<button type="button" class="btn-md btn-theme color-fff f-bold" ng-show="superAdminLogin == true" data-toggle="modal" data-target="#myModal" ng-click="createPopup()">Create</button>-->

              <!-- Modal -->
              <div class="modal fade" id="myModal" app="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content" align="center">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Create Application</h4>
                    </div>
                    <div class="modal-body">
                      <div>
                        <div class="text-center color-red f-bold" ng-show="appCreationError">{{createAppError}}</div>
                        <form  class="simple-form"  ng-submit="createApp(app)">
                          <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                              <div class="form-group" align="left">
                                <label for="agencyId"><span class="color-red f-bold f-left">*</span>Agency Id:</label>
                                <!--<label for="tcsAppId">Tcs AppId:</label>-->
                                <input type="text" class="form-control" id="agencyId" ng-model="app.agencyId" placeholder="Enter Agency Id" maxlength="21" title="Enter Your Agency Id (Numeric digits only - Max length 21 characters)"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                              </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                              <div class="form-group" align="left">
                                <label for="tcsAppId"><span class="color-red f-bold f-left">*</span>Tcs AppId:</label>
                                <!--<label for="tcsAppId">Tcs AppId:</label>-->
                                <input type="text" class="form-control" id="tcsAppId" ng-model="app.tcsAppId" placeholder="Enter Tcs AppId" maxlength="30"  title="Enter Your TCS App Id (Alphanumeric characters only - Max length 30 characters)"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                              </div>
                            </div>
                          </div>
                          <div class="form-group" align="left">
                            <label for="name"><span class="color-red f-bold f-left">*</span>Application Name:</label>
                            <input type="text" class="form-control" id="name" ng-model="app.name" placeholder="Enter Application Name" maxlength="80"  title="Enter Application Name (Alphabets with spaces only - Max length 80 characters)"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                          </div>
                          <div class="form-group" align="left">
                            <label for="appCode"><span class="color-red f-bold f-left">*</span>Application Code:</label>
                            <input type="text" class="form-control" id="appCode" ng-model="app.applicationCode" placeholder="Enter Application Code" maxlength="30" title="Enter Your Application Code (Alphanumeric characters only - Max length 30 characters)"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                          </div>
                          <div class="form-group" align="left">
                            <label for="retpmtCfmURL"><span class="color-red f-bold f-left">*</span>RetpmtCfmURL:</label>
                            <input type="url" class="form-control" id="retpmtCfmURL" ng-model="app.retpmtCfmURL" placeholder="Enter RetpmtCfmURL" title="Enter Your RetpmtCfmURL in URL format (Ex: http://www.hpcs.com or http://127.0.0.1/)"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                          </div>
                          <div class="form-group" align="left">
                            <label for="whitelistedIPs">WhitelistedIPs: <small>(If more than one IP,separate by comma(,))</small></label>
                            <input type="text" class="form-control" id="whitelistedIPs" ng-model="whitelistedIPs" placeholder="Enter WhitelistedIPs" autocomplete="off"/>
                          </div>
                          <div class="form-group" align="left">
                            <!--<label for="resultCfmURLs">ResultCfmURLs:</label>-->
                            <label for="resultCfmURLs"><span class="color-red f-bold f-left">*</span>ResultCfmURLs:</label>
                            <input type="url" class="form-control" id="resultCfmURLs" ng-model="app.resultCfmURLs" placeholder="Enter ResultCfmURLs" title="Enter Your ResultCfmURLs in URL format (Ex: http://www.hpcs.com or http://127.0.0.1/)"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                            <!--<input type="resultCfmURLs" class="form-control" id="resultCfmURLs" ng-model="app.resultCfmURLs" placeholder="Enter ResultCfmURLs" autocomplete="off"/>-->
                          </div>
                          <div class="form-group" align="left">
                            <!--<label for="settlementURL">SettlementURL:</label>-->
                            <label for="settlementURL"><span class="color-red f-bold f-left">*</span>SettlementURL:</label>
                            <!--<input type="settlementURL" class="form-control" id="settlementURL" ng-model="app.settlementURL" placeholder="Enter SettlementURL" autocomplete="off"/>-->
                            <input type="url" class="form-control" id="settlementURL" ng-model="app.settlementURL" placeholder="Enter SettlementURL" title="Enter Your SettlementURL in URL format (Ex: http://www.hpcs.com or http://127.0.0.1/)"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                          </div>
                          <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                              <div class="form-group" align="left">
                                <label for="machineId"><span class="color-red f-bold f-left">*</span>Machine Id:</label>
                                <input type="text" class="form-control" id="machineId" ng-model="app.machineId" placeholder="Enter Machine Id" title="Enter Your Machine Id (Alphanumerics only)"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                              </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                              <div class="form-group" align="left">
                                <label for="password"><span class="color-red f-bold f-left">*</span>Password:</label>
                                <input type="password" class="form-control" id="password" ng-model="app.password" placeholder="Enter Password" title="Password must contains one Uppercase letter, one Special character, one Number - Min length 8 characters" data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                              </div>
                            </div>
                          </div>
                          <input type="submit" class="btn green-button color-fff" value="Save" />
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="appEdit" app="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content" align="center">
                    <div class="modal-header">
                      <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                      <h4 class="modal-title">Edit Application</h4>
                    </div>
                    <div class="modal-body">

                      <div>
                        <div class="text-center color-red f-bold" ng-show="appCreationError">{{createAppError}}</div>

                        <form  class="simple-form"  ng-submit="editApp()">
                          <div class="form-group" align="left">
                            <label for="agencyId"><span class="color-red f-bold f-left">*</span>Agency Id::</label>
                            <input type="text" class="form-control" id="agencyId1" ng-model="updateApp.agencyId" placeholder="Enter Agency Id" maxlength="21"  title="Enter Your Agency Id (Numeric digits only)"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                          </div>
                          <div class="form-group" align="left">
                            <label for="tcsAppId"><span class="color-red f-bold f-left">*</span>Tcs AppId:</label>
                            <input type="text" readonly class="form-control" id="tcsAppId1" ng-model="updateApp.tcsAppId" placeholder="Enter tcsAppId" maxlength="30"  title="Enter Your TCS App Id (Alphanumeric characters only - Max length 30 characters)"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                          </div>
                          <div class="form-group" align="left">
                            <label for="name"><span class="color-red f-bold f-left">*</span>Application Name:</label>
                            <input type="text" readonly class="form-control" id="name1" ng-model="updateApp.name" placeholder="Edit ApplicationName" maxlength="80"  title="Edit Your Application Name (Alphabets with spaces only - Max length 80 characters)"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                          </div>
                          <div class="form-group" align="left">
                            <label for="updateAppCode"><span class="color-red f-bold f-left">*</span>Application Code:</label>
                            <input type="text" class="form-control" id="updateAppCode" ng-model="updateApp.applicationCode" placeholder="Edit Application Code" maxlength="30" title="Edit Your Application Code (Alphanumeric characters only - Max length 30 characters)"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                          </div>
                          <div class="form-group" align="left">
                            <label for="retpmtCfmURL"><span class="color-red f-bold f-left">*</span>RetpmtCfmURL:</label>
                            <input type="url" class="form-control" id="retpmtCfmURL1" ng-model="updateApp.retpmtCfmURL" placeholder="Edit RetpmtCfmURL" title="Edit Your RetpmtCfmURL in URL format (Ex: http://www.hpcs.com or http://127.0.0.1/)"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                          </div>
                          <div class="form-group" align="left">
                            <label for="whitelistedIPs">WhitelistedIPs: <small>(If more than one IP,separate by comma(,))</small></label>
                            <input type="text" class="form-control" id="whitelistedIPs1" ng-model="whitelistedIPs" placeholder="Edit WhitelistedIPs" autocomplete="off"/>
                          </div>
                          <div class="form-group" align="left">
                            <label for="resultCfmURLs"><span class="color-red f-bold f-left">*</span>ResultCfmURLs:</label>
                            <input type="url" class="form-control" id="resultCfmURLs1" ng-model="updateApp.resultCfmURLs" placeholder="Edit ResultCfmURLs" title="Edit Your ResultCfmURLs in URL format (Ex: http://www.hpcs.com or http://127.0.0.1/)"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                          </div>
                          <div class="form-group" align="left">
                            <label for="settlementURL"><span class="color-red f-bold f-left">*</span>SettlementURL:</label>
                            <input type="url" class="form-control" id="settlementURL1" ng-model="updateApp.settlementURL" placeholder="Edit SettlementURL" title="Edit Your SettlementURL in URL format (Ex: http://www.hpcs.com or http://127.0.0.1/)"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                          </div>
                          <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                              <div class="form-group" align="left">
                                <label for="settlementURL"><span class="color-red f-bold f-left">*</span>Machine Id:</label>
                                <input type="text" class="form-control" id="machineId1" ng-model="updateApp.machineId" placeholder="Edit Machine Id" title="Edit Your Machine Id (Alphanumerics only)"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                              </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                              <div class="form-group" align="left">
                                <label for="settlementURL"><span class="color-red f-bold f-left">*</span>Password:</label>
                                <input type="password" class="form-control" id="password1" ng-model="updateApp.password" placeholder="Edit Password" title="Password must contains one Uppercase letter, one Special character, one Number - Min length 8 characters"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                              </div>
                            </div>
                          </div>
                          <input type="submit" class="btn green-button color-fff" value="Update" />
                          <input type="button" class="btn btn-reset color-fff" value="Cancel" ng-click="cancelEdit()" />
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="appDelete" app="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content" align="center">
                    <div class="modal-header">

                    </div>
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <div class="row" ng-show="delApp">
                        <div class="col-lg-12">
                          <h4 class="modal-title">Are you sure, you want to delete the App :{{appName}}?</h4>
                        </div>
                        <div class="col-lg-12">
                          <div class="col-lg-offset-4 col-lg-4">
                            <button class="btn green-button color-fff" ng-click="deleteApp()">Yes</button>
                            <button class="btn btn-reset color-fff" data-dismiss="modal">No</button>
                          </div>
                        </div>
                      </div>
                      <div ng-show="!delApp">
                        <h4>This Application can't be deleted..Because it is associated with user</h4>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!--<div class="d-tbcell">
                <button type="button" class="btn btn-info btn-lg" >Update</button>
            </div>
            <div class="d-tbcell">
                <button type="button" class="btn btn-info btn-lg" >Delete</button>
            </div>-->

          </div>


        </div>
        <div class="table-responsive">
          <table datatable="ng" class="" >
            <caption style=" display: none;">Application Configuration</caption>
            <thead>
            <tr class="t-head" nowrap>
              <!--<th class="agency" custom-sort order="'agency'" sort="sort">Id&nbsp;</th>-->
              <th class="agencyId" custom-sort order="'agencyId'" sort="sort" scope="col" nowrap>Agency Id&nbsp;</th>
              <th class="tcsAppId" custom-sort order="'tcsAppId'" sort="sort" scope="col">TCS App Id&nbsp;</th>
              <th class="applicationName" custom-sort order="'applicationName'" sort="Application Name" scope="col">Application Name&nbsp;</th>
              <th class="applicationCode" custom-sort order="'applicationCode'" sort="Application Code" scope="col">Application Code&nbsp;</th>
              <!--<th class="retpmtCfmURL" custom-sort order="'retpmtCfmURL'" sort="sort">RetpmtCfm URL&nbsp;</th>-->
              <!--<th class="whitelistedIPs" custom-sort order="'whitelistedIPs'" sort="sort">Whitelisted IPs&nbsp;</th>-->
              <!--<th class="resultCfmURLs" custom-sort order="'resultCfmURLs'" sort="sort">ResultCfm URLs&nbsp;</th>-->
              <!--<th class="settlementURL" custom-sort order="'settlementURL'" sort="sort">Settlement URL&nbsp;</th>-->
              <th class="machineId" custom-sort order="'machineId'" sort="sort" scope="col">Machine Id&nbsp;</th>
              <th class="actions" custom-sort order="'actions'" sort="sort" ng-show="superAdminLogin == true" scope="col">Actions&nbsp;</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="appInfo in appsData">
              <!--<td>{{appInfo.id}}</td>-->
              <td nowrap>{{appInfo.agencyId}} </td>
              <td nowrap>{{appInfo.tcsAppId}} </td>
              <td nowrap><a href="#/applicationDetails/{{appInfo.id}}" alt="Application Name">{{appInfo.name}}</a></td>
              <td nowrap>{{appInfo.applicationCode}}</td>
              <!--<td nowrap>{{appInfo.retpmtCfmURL}}</td>-->
              <!--<td nowrap>{{appInfo.whitelistedIPs}} </td>-->
              <!--<td nowrap>{{appInfo.resultCfmURLs}} </td>-->
              <!--<td nowrap>{{appInfo.settlementURL}}</td>-->
              <td nowrap>{{appInfo.machineId}}</td>
              <td nowrap ng-show="superAdminLogin == true" class="action-width">
                <span class="icon cursor-pointer edit-icon m-right5" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#appEdit" ng-click="editPopup(appInfo)">&#9998;</span>
                <span class="glyphicon glyphicon-trash tbcell-delete" data-toggle="modal" data-target="#appDelete" ng-click="deletePopup(appInfo)"></span></td>
            </tr>
            </tbody>
          </table>
        </div>
    </section>
  </section>
</div>

<div class="container-fluid" ng-show="!showAllApps">
  <div class="navigation">
    <span><a href="#/" alt="Home">Home</a> <span class="color-black">></span> Admin Module <span class="color-black">></span>
      <a href="#/appConfig" alt="Application Configuration">Application Configuration</a> <span class="color-black">></span> Application Details:</span>
  </div>
  <section class="content">
    <section class="small widget">
      <header>
        <span class="icon">&#9874;</span>
        <hgroup>
          <h1 class="pull-left">Application Details</h1>
        </hgroup>
      </header>
      <div class="content cycle">
        <div class="row">
          <div class="table-responsive col-lg-offset-1 col-lg-10 col-lg-offset-1">

            <table class="table-striped table-condensed table-hover tableWidth" border="1">

              <tr>
                <th class="width200" custom-sort order="'agencyId'" sort="sort" scope="col">RetpmtCfm URL&nbsp;</th>
                <td class="minWidth250">{{appsData.retpmtCfmURL}}</td>
              </tr>
              <tr>
                <th class="width200" custom-sort order="'hpcsId'" sort="sort" nowrap scope="col">Whitelisted IPs&nbsp;</th>
                <td class="minWidth250">{{appsData.whitelistedIPs}}</td>
              </tr>
              <tr>
                <th class="width200" custom-sort order="'hpcsId'" sort="sort" scope="col">ResultCfm URLs&nbsp;</th>
                <td class="minWidth250">{{appsData.resultCfmURLs}}</td>
              </tr>
              <tr>
                <th class="width200" custom-sort order="'operationName'" sort="sort" scope="col">Settlement URL&nbsp;</th>
                <td class="minWidth250">{{appsData.settlementURL}}</td>
              </tr>
            </table>
            <br>
            <INPUT Type="button" VALUE="Back" class="btn green-button color-fff btn-sm" onClick="history.go(-1);return true;">
          </div>
        </div>
      </div>
    </section>
  </section>
</div>
