<div class="">
    <h4>Assignments</h4>
</div>


<!--*********Drop Box**************-->


<div ng-app="myApp" ng-controller="assignmentController" align="left">
    <div class="d-table">
        <div class="d-tbcell">
            <p>Select User:</p>
            <select ng-model="selecteduser">
                <option ng-repeat="x in user" value="{{x.user}}">{{x.user}}</option>
            </select>
        </div>

        <div class="d-tbcell">
            <p>Select Assignments:</p>
            <select ng-model="selectedassignment">
                <option ng-repeat="x in assignment" value="{{x.assignment}}">{{x.assignment}}</option>
            </select>

        </div>

        <div class="d-tbcell">
            <p>Select Reports:</p>
            <select ng-model="selectedreports">
                <option ng-repeat="x in report" value="{{x.report}}">{{x.report}}</option>
            </select>

        </div>

    </div>
</div>
<!--*********Drop Box**************-->

