<div class="container-fluid">
  <div class="navigation">
    <span>Home</span>
  </div>
  <div class="" ng-show="!userLogin" ng-controller="loginController">
    <h4>Log into Dashboard</h4>
    <hr class="hr-border">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <section id="dashboardMain" class="content">
          <section class="small widget">
            <header>
              <span class="icon">&#128196;</span>
              <hgroup>
                <h1>HUD Users</h1>
                <h2>Single Sign-On(SSO)</h2>
              </hgroup>

            </header>
            <div class="content cycle">
              <h6 class="text-center">Users having hud.gov email, please click on <br><br>Single Sign-On button to access Hud PayGov Common Services</h6>
              <div class="text-center">
                <button class="btn green-button color-fff" ng-click="ssoSubmit()">Single Sign-On</button>
              </div>
            </div>

          </section>
        </section>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <section class="content">
          <section class="small widget">
            <header>
              <span class="icon">&#128101;</span>
              <hgroup>
                <h1>Non HUD Users</h1>
                <h2>Login</h2>
              </hgroup>

            </header>
            <div class="content cycle">
              <div class="p-all20">
                <!--<div>-->
                <!--<p>Required fields are marked with an <span class="color-red f-bold">*</span></p>-->
                <!--<p>Please enter your Email and Password</p>-->
                <!--</div>-->
                <div class=" text-center color-red f-bold" ng-show="showLoginError">{{loginError}}</div>

                <form data-toggle="validator" role="form" class="m-tb20" ng-submit="loginSubmit()">
                  <div class="form-group">
                    <!--<label for="username"><span class="color-red f-bold f-left">*</span>Email:</label>-->
                    <input type="text" name="username" id="username" ng-model="user.email" tabindex="1" class="form-control red-tooltiptbm" title="Enter Your Email" placeholder="Enter Your Email" value="" data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                  </div>
                  <div class="form-group">
                    <!--<label for="password"><span class="color-red f-bold f-left">*</span>Password:</label>-->
                    <input type="password" name="password" id="password" ng-model="user.password" tabindex="2" class="form-control" placeholder="Enter Your Password" title="Enter Your Password"  data-toggle="tooltip" data-placement="top"/>
                  </div>
                  <!--<div class="form-group">-->
                  <!--<label for="checkHudUser">-->
                  <!--<input type="checkbox" id="checkHudUser" value="HUD User">-->
                  <!--HUD user-->
                  <!--</label>-->
                  <!--</div>-->
                  <button type="submit" tabindex="3" class="btn-md btn-login color-fff " id="Login" value="LOGIN">Login</button>

                  <button type="button" tabindex="3" class="btn-md btn-login color-fff " id="SSO Login" style="background-color: #4b4f51" ng-click="reset()">Reset</button>

                </form>
              </div>
              <br>
              <div class="p-all20">
                <a class="text-decnone f-size18 text-right text-capitalize cursor-pointer"  data-toggle="modal" data-target="#myModal" ng-click="openForgotPopup()" alt="Forgot Password">
                  Forgot Password?
                </a>
                <!---***************Form********************************-->

                <div class="modal fade" id="myModal" user="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content" align="center">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Forgot Password</h4>
                      </div>
                      <div class="modal-body">
                        <div>
                          <div class=" text-center color-red f-bold" ></div>
                          <form class="simple-form"  ng-submit="forgotPassword()">

                            <div class=" text-center color-red f-bold" ng-show="showForgotError">{{forgotError}}</div>
                            <div class="form-group" align="left">
                              <label for="email"> <span class="color-red f-bold f-left">*</span>Email:</label>
                              <input type="text" class="form-control" id="email"  ng-model="forgotEmail" placeholder="Enter Email" title="Enter Your Email"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                            </div>

                            <input type="submit" class="btn green-button color-fff" value="Reset Password" />
                            <input type="button" class="btn btn-reset color-fff" data-dismiss="modal" ng-click="reset()" value="Cancel" />
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--*************form*******************8-->

              </div>
            </div>

          </section>
        </section>
      </div>
    </div>
  </div>

  <div class="" ng-show="userLogin">
    <div class="content cycle" ng-show="!superAdminLogin" >
      <div class="row" style="margin-left:0px;margin-right:0px;">
        <div class="col-lg-4 col-md-4 col-sm-10 col-xs-10 pull-right" >
          <div class="d-tbcell">
            <label >Select Application : </label><br />
            <select id="accessibleApp" class="option-width2/5 inputField"
                    ng-model="filterOption"
                    ng-options="s.name for s in accessibleAppList track by s.id"
                    ng-change="setAppLevelApplication(filterOption)"
                    ng-style="{'width':'100%'}" ng-selected>
            </select>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <section class="small widget">
        <header>
          <span class="icon">&#128200;</span>
          <hgroup>
            <h1>Transaction Statistics : {{filterOption.name}} </h1>
           <!--<h1 class="pull-left"><p ng-show = "superAdminLogin == true">Transaction Statistics</p> <p ng-show="superAdminLogin == false">Transaction Statistics : {{filterOption.name}}</p> </h1>-->
          </hgroup>
        </header>
        <div class="content cycle">
          <div id="lodingImage" class="text-center" ng-show="loadingImage"> <img src="images/gears.gif"></div>
          <div id="flot-example-2" class="graph-area"></div>
        </div>
      </section>
    </section>
    <!-- <ul id="myTab2" class="nav nav-tabs">
      <li ng-class="{ active: true }" ng-init="tabIndex = 1">
        <a data-target="#allTransactions" data-toggle="tab" class="cursor-pointer" ng-click="tabIndex = 1">
          <div class="d-table">
            <div class="d-tbcell v-middle"><span class="text-capitalize f-bold">All Transactions</span></div>
          </div>
        </a>
      </li>
      <li >
        <a data-target="#todayTransactions" data-toggle="tab" class="cursor-pointer" ng-click="tabIndex = 2">
          <div class="d-table">
            <div class="d-tbcell v-middle"><span class="text-capitalize f-bold">Today's Transactions</span></div>
          </div>
        </a>
      </li>
      <li>
        <a data-target="#users" data-toggle="tab" class="cursor-pointer" ng-click="tabIndex = 3">
          <div class="d-table">
            <div class="d-tbcell v-middle"><span class="text-capitalize f-bold">Users</span></div>
          </div>
        </a>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">

      <div class="" id="allTransactions" ng-show="tabIndex == 1">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <br>
            <table class="d-table f-bold">
              <caption class="text-center">Transaction Statistics</caption>
              <tr ng-repeat="transaction in agencyTransactions track by $index">
                <td class="d-tbcell">{{transaction.key}}</td>
                <td class="d-tbcell">{{transaction.count}}</td>
              </tr>
            </table>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div
              data-ac-chart="'bar'"
              data-ac-data="transactionGraphData"
              data-ac-config="config"
              class="chart">
            </div>
          </div>
        </div>
      </div>

      <div class="" id="todayTransactions" ng-show="tabIndex == 2">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <br>
            <table class="d-table f-bold">
              <caption class="text-center">Transaction Statistics</caption>
              <tr ng-repeat="transaction in todayTransactionData track by $index">
                <td class="d-tbcell">{{transaction.key}}</td>
                <td class="d-tbcell">{{transaction.count}}</td>
              </tr>
            </table>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div
              data-ac-chart="'bar'"
              data-ac-data="todayTransactionGraphData"
              data-ac-config="todayTransactionConfig"
              class="chart">
            </div>
          </div>
        </div>
      </div>


      <div class="" id="users" ng-show="tabIndex == 3">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <br>
            <table class="d-table f-bold">
              <caption class="text-center">User Statistics</caption>
              <tr ng-repeat="userStats in agencyUserGraphData track by $index">
                <td class="d-tbcell">{{userStats.key}}</td>
                <td class="d-tbcell">{{userStats.count}}</td>
              </tr>
            </table>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div
              data-ac-chart="'line'"
              data-ac-data="todayTransactionGraphData"
              data-ac-config="todayTransactionConfig"
              class="chart">
            </div>
          </div>
        </div>
      </div>
    </div>-->
  </div>
</div>
<div class="modal fade" id="ssoError" user="dialog">
  <div class="modal-dialog">
    <div class="modal-content" align="center">
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4>{{ssoLoginError}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




