<div class="dataTables_info" id="totalTransactionsTable_info" role="status" aria-live="polite">Showing {{ range.total === 0 ? 0 : range.lower }} to {{ range.upper }} of {{ range.total }} entries</div>

<div class="dataTables_paginate paging_simple_numbers" id="totalTransactionsTable_paginate">
  <a class="paginate_button previous" aria-controls="totalTransactionsTable" data-dt-idx="0" tabindex="0"
     id="totalTransactionsTable_previous" ng-class="{ disabled : pagination.current == 1 }" ng-click="setCurrent(pagination.current - 1)">Previous</a>

    <span  ng-if="1 < pages.length || !autoHide">
        <a ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }" class="paginate_button " aria-controls="totalTransactionsTable" ng-click="setCurrent(pageNumber)">{{ pageNumber}}</a>
    </span>
  <a class="paginate_button next" aria-controls="totalTransactionsTable" id="totalTransactionsTable_next" ng-class="{ disabled : pagination.current == pagination.last }" ng-click="setCurrent(pagination.current + 1)">Next</a>

</div>
