<div class="container-fluid">
  <div class="navigation">
    <span><a href="#/" alt="Home"> Home</a> <span class="color-black">></span> Flow of Transactions</span>
  </div>
  <div align="center">
    <section class="content">
      <section class="small widget">
        <header>
          <span class="icon">&#128196;</span>
          <hgroup>
            <h1>Flow of Transactions : {{filterOption.name}}</h1>
            <!--<h2>Login</h2>-->
          </hgroup>

        </header>
        <div class="content cycle">
          <div class="row" style="margin-left:0px;margin-right:0px;background:#ececec;">
            <!--<div class="d-table">-->
            <div class="text-center color-red f-bold" ng-show="dateSelectionError">{{dateError}}</div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="d-tbcell" ng-show="superAdminLogin">
                <label for="appFilterOptions">Select Application:</label><br />
                <select id="appFilterOptions" class="option-width25 inputField" ng-model="selectedApplication" ng-change="transactionCount(selectedApplication)">
                  <option value="" selected ng-show="superAdminLogin">All</option>
                  <option ng-repeat="x in applications" value="{{x.tcsAppId}}">{{x.name}}</option>
                </select>
              </div>
            </div>
            <div class=" col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div class="d-tbcell col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <label for="startDatePicker">Start Date:</label><br>
                <input datepicker id="startDatePicker" class="inputField">
              </div>
              <div class="d-tbcell col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <label for="endDatePicker">End Date:</label><br>
                <input datepicker id="endDatePicker" class="inputField">
              </div>
              <div class="d-tbcell col-lg-3 col-md-3 col-sm-4 col-xs-12" style="padding-top: 15px"><label>&nbsp;</label><br>
                <!--<button class="btn-xs btn-theme pull-left color-fff f-bold" ng-click="filterByDate()">Submit</button>-->
                <button class="btn-theme btn-sm pull-left btn-lg hidden-sm hidden-xs color-fff f-bold" ng-click="filterByDate()">Submit</button>
                <button class="btn-theme btn-sm hidden-lg hidden-md color-fff f-bold" ng-click="filterByDate()">Submit</button>
              </div>
            </div>
            <!--</div>-->

          </div>
          <div class="table-responsive">
            <table datatable="ng" class="">
              <caption style=" display: none;">Flow Of Transactions</caption>
              <thead>

              <tr class="t-head">
                <th class="agency app-name" custom-sort order="'agency'" sort="sort" scope="col">Application Name&nbsp;</th>
                <th class="totaltransactions" custom-sort order="'totaltransactions'" sort="sort" scope="col">Total Transactions&nbsp;</th>
                <th class="inqueue" custom-sort order="'inqueue'" sort="sort" scope="col">Ready to Process&nbsp;</th>
                <th class="senttopaygov" custom-sort order="'senttopaygov'" sort="sort" scope="col">Sent to Pay.gov&nbsp;</th>
                <th class="settled" custom-sort order="'settled'" sort="sort" scope="col">Settled&nbsp;</th>
                <th custom-sort order="'cancelled'" sort="sort" scope="col">Cancelled&nbsp;</th>
                <th class="responsesfrompaygov" custom-sort order="'responsesfrompaygov'" sort="sort" scope="col">Failed&nbsp;</th>
                <!--<th class="responsestoedgeapplication" custom-sort order="'responsestoedgeapplication'" sort="sort">To EdgeApp&nbsp;</th>-->
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="transaction in agencyTransactions track by $index">
                <td> {{transaction.appName}}</td>
                <td> <a href="#/totaltransactions/{{transaction.appId}}" ng-click="getStatus('removeStatus',transaction.appName)" alt="Total Transactions"> {{transaction.totalTransactions}}  </a></td>
                <td><a href="#/totaltransactions/{{transaction.appId}}" ng-click="getStatus('Initiated',transaction.appName)" alt="Intiated">{{transaction.initiated}}</a></td>
                <td><a href="#/totaltransactions/{{transaction.appId}}" ng-click="getStatus('Submitted',transaction.appName)" alt="submitted">{{transaction.submitted}}</a></td>
                <td><a href="#/totaltransactions/{{transaction.appId}}" ng-click="getStatus('Settled',transaction.appName)" alt="settled">{{transaction.settled}}</a></td>
                <td><a href="#/totaltransactions/{{transaction.appId}}" ng-click="getStatus('Cancelled',transaction.appName)" alt="cancelled">{{transaction.cancelled}}</a></td>
                <td><a href="#/totaltransactions/{{transaction.appId}}" ng-click="getStatus('Failed',transaction.appName)" alt="failed">{{transaction.failed}}</a></td>
                <!--<td><a href="#/totaltransactions/{{transaction.appName}}" ng-click="getStatus('ResponseToEdgeApp')">{{transaction.responseToEdgeApp}}</a></td>-->

              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </section>
    </section>
  </div>
</div>
