<div class="container-fluid">
  <div class="navigation">
    <span><a href="#/">Home </a> <span class="color-black">></span> Reports</span>
  </div>
  <section class="content">
    <section class="small widget">
      <header>
        <span class="icon">&#128240;</span>
        <hgroup>
          <h1 class="pull-left"><p ng-show = "superAdminLogin == true">Reports</p> <p ng-show="superAdminLogin == false">Reports {{filterOption.name}}</p> </h1>
        </hgroup>
      </header>
      <div class="content cycle">
        <div align="center">
          <div class="row" style="margin-left:0px;margin-right:0px;background:#ececec;padding-bottom: 10px">
            <!--<div class="d-table">-->
            <div class="text-center color-red f-bold" ng-show="dateSelectionError">{{dateError}}</div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12" ng-show="superAdminLogin">
              <div class="d-tbcell">
                <label for="appFilterOptions">Select Application:</label>
                <select id="appFilterOptions" class="option-width25 inputField" ng-model="selectedApplication">
                  <option value="" selected>All</option>
                  <option ng-repeat="x in applications" value="{{x.tcsAppId}}">{{x.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 pull-right">
              <div class="row">
                <div class=" col-lg-3 col-md-3 col-sm-4 col-xs-12">
                  <label for="startDatePicker">Start Date:</label><br>
                  <input datepicker id="startDatePicker" class="inputField">
                </div>
                <div class=" col-lg-3 col-md-3 col-sm-4 col-xs-12">
                  <label for="endDatePicker">End Date:</label><br>
                  <input datepicker id="endDatePicker" class="inputField">
                </div>
                <div class=" col-lg-3 col-md-3 col-sm-4 col-xs-12">
                  <label for="agencyTrackingId">Agency Tracking Id:</label><br>
                  <input  id="agencyTrackingId" class="inputField">
                </div>
                <div class=" col-lg-1 col-md-1 col-sm-4 col-xs-12" style="padding-top: 5px"><label>&nbsp;</label><br>
                  <button class="btn-theme btn-sm pull-left  hidden-xs color-fff f-bold" ng-click="filterByDate()">Submit</button>
                  <button class="btn-theme btn-sm hidden-lg hidden-md hidden-sm color-fff f-bold" ng-click="filterByDate()">Submit</button>
                </div>


                <div class="col-lg-1 col-md-1 col-sm-4 col-xs-12" ng-show="showReports" style="float:left;padding-top: 5px"><label>&nbsp; </label><br>
                  <iframe id="txtArea1" style="display:none"></iframe>
                  <button class="btn-theme btn-md color-fff f-bold" ng-click="ExcelExport('reportsTable','Report.xls')">Export to Excel</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="table-responsive" ng-show="showReports">
          <table id="reportsTable" datatable="ng" class=" export-table">
            <caption style=" display: none;">Reports</caption>
            <thead>

            <tr class="t-head">
              <th class="agency" custom-sort order="'agency'" sort="sort" scope="col">Application Name&nbsp;</th>
              <th class="totaltransactions" custom-sort order="'totaltransactions'" sort="sort" scope="col">Total Transactions&nbsp;</th>
              <th class="inqueue" custom-sort order="'inqueue'" sort="sort" scope="col">Ready to Process&nbsp;</th>
              <th class="senttopaygov" custom-sort order="'senttopaygov'" sort="sort" scope="col">Sent to Pay.gov&nbsp;</th>
              <th class="settled" custom-sort order="'settled'" sort="sort" scope="col">Settled&nbsp;</th>
              <th custom-sort order="'cancelled'" sort="sort" scope="col">Cancelled&nbsp;</th>
              <th class="responsesfrompaygov" custom-sort order="'responsesfrompaygov'" sort="sort" scope="col">Failed&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="transaction in agencyTransactions track by $index">
              <td> {{transaction.appName}}</td>
              <td><a class="cursor-pointer" ng-click="getStatus('removeStatus',transaction.appId, transaction.appName,transaction.agencyTrackingId)" alt="Total Transactions"> {{transaction.totalTransactions}}  </a></td>
              <td><a class="cursor-pointer" ng-click="getStatus('Initiated', transaction.appId, transaction.appName,transaction.agencyTrackingId)" alt="Initiated">{{transaction.initiated}}</a></td>
              <td><a class="cursor-pointer" ng-click="getStatus('Submitted', transaction.appId, transaction.appName,transaction.agencyTrackingId)" alt="Submitted">{{transaction.submitted}}</a></td>
              <td><a class="cursor-pointer" ng-click="getStatus('Settled', transaction.appId, transaction.appName,transaction.agencyTrackingId)" alt="Settled">{{transaction.settled}}</a></td>
              <td><a class="cursor-pointer" ng-click="getStatus('Cancelled', transaction.appId, transaction.appName,transaction.agencyTrackingId)" alt="Cancelled">{{transaction.cancelled}}</a></td>
              <td><a class="cursor-pointer" ng-click="getStatus('Failed', transaction.appId, transaction.appName,transaction.agencyTrackingId)" alt="Failed">{{transaction.failed}}</a></td>
              <!--<td><a href="#/totaltransactions/{{transaction.appName}}" ng-click="getStatus('ResponseToEdgeApp')">{{transaction.responseToEdgeApp}}</a></td>-->

            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </section>
</div>
