
<div class="container-fluid">
  <div class="navigation">
    <span><a href="#/" alt="Home">Home</a> <span class="color-black">></span> Admin Module <span class="color-black">></span> Scheduler Status</span>
  </div>
  <section class="content">
    <section class="small widget">
      <header>
        <span class="icon">&#128196;</span>
        <hgroup>
          <h1 class="pull-left">Scheduler Status</h1>
        </hgroup>

      </header>
      <div class="content cycle">

        <div align="right">
          <div class="d-table">
            <div class="d-tbcell">


              <div class="modal fade" id="schedulerStatusEdit" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content" align="center">
                    <div class="modal-header">
                      <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                      <h4 class="modal-title">Edit Scheduler Status</h4>
                    </div>
                    <div class="modal-body">

                      <div>
                        <div class=" text-center color-red f-bold" ng-show="statusUpdateError">{{updateStatusError}}</div>
                        <form class="simple-form"  ng-submit="editSchedulerStatus()">
                          <div class="form-group" align="left">
                            <label for="schedulerName"><span class="color-red f-bold f-left">*</span>Scheduler Name:</label>
                            <input type="schedulerName" class="form-control" id="schedulerName" ng-model="updateSchedulerStatus.schedulerName"   data-toggle="tooltip" data-placement="top" disabled autocomplete="off"/>
                          </div>
                          <div class="form-group" align="left">
                            <label for="roledescr">SchedulerTS:</label>
                            <input datepicker id="schedulerTS" class="form-control" ng-model="updateSchedulerStatus.schedulerTS" disabled>
                          </div>
                          <div class="form-group" align="left">
                            <label for="roledescr">Scheduler Status:</label>
                            <select ng-model="updateSchedulerStatus.status" class="form-control">
                              <option value="Yes">Yes</option>
                              <option value="No">No</option>
                            </select>
                          </div>
                          <input type="submit" class="btn green-button color-fff " value="Update" />
                          <input type="button" class="btn btn-reset color-fff" value="Cancel" ng-click="cancelEdit()" />
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>


          </div>


        </div>

        <br/>

        <div class="table-responsive">

          <table datatable="ng" class="table ">
            <caption style=" display: none;">Scheduler Status</caption>
            <input type="button" value="Refresh Page" onClick="window.location.reload()">
            <thead>
            <tr class="t-head">
              <!--<th class="agency" custom-sort order="'agency'" sort="sort">Id&nbsp;</th>-->
              <th class="totaltransactions" custom-sort order="'totaltransactions'" sort="sort" scope="col">Scheduler Name&nbsp;</th>
              <th class="inqueue" custom-sort order="'inqueue'" sort="sort" scope="col">SchedulerTS&nbsp;</th>
              <th class="inqueue" custom-sort order="'inqueue'" sort="sort" scope="col">Status&nbsp;</th>
              <th class="responsesfrompaygov" custom-sort order="'responsesfrompaygov'" scope="col" ng-show="superAdminLogin == true" sort="sort">Actions&nbsp;</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="schedulersInfo in schedulersData">
              <!--<td>{{roleInfo.id}}</td>-->
              <td>{{schedulersInfo.schedulerName}} </td>
              <td>{{schedulersInfo.schedulerTS | date: "yyyy-MM-ddTHH:mm:ss"}}</td>
              <td>{{schedulersInfo.status}}</td>
              <td ng-show="superAdminLogin == true" class="action-width">
                <span class="icon cursor-pointer edit-icon m-right5" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#schedulerStatusEdit" ng-click="editPopup(schedulersInfo)">&#9998;</span>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </section>
  </section>
</div>
