
<div class="container-fluid">
  <div class="navigation">
    <span><a href="#/" alt="Home"> Home</a> <span class="color-black">></span> Admin Module <span class="color-black">></span> Settlement Report Status </span>
  </div>
  <section class="content">
    <section class="small widget">
      <header>
        <span class="icon">&#128196;</span>
        <hgroup>
          <h1 class="pull-left"> Settlement Report Status : {{filterOption.name}} </h1>
        </hgroup>
        <!--<button id="createSettlementReport" type="button" class="btn green-button color-fff pull-right" ng-show="superAdminLogin == true" data-toggle="modal" data-target="#myModal" ng-click="reset()">Create</button>-->
      </header>
      <div class="content cycle">

        <div align="right">
          <div class="d-table">
            <div class="d-tbcell">

              <!-- Modal -->

              <div class="modal fade" id="settlementReportEdit" user="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content" align="center">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" ng-click="cancelEdit()">&times;</button>
                      <h4 class="modal-title">Edit Settlement Report Status</h4>
                    </div>
                    <div class="modal-body">

                      <div>
                        <div class=" text-center color-red f-bold" ng-show="settlementReportError">{{createSettlementReportError}}</div>
                        <form class="simple-form"  ng-submit="editSettlementReport()">
                          <div class="form-group" align="left">
                            <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>Agency Id:</label>
                                <input type="text" class="form-control" id="agencyId1" ng-model="updateSettlementReport.agencyId"   data-toggle="tooltip" data-placement="top" readonly required autocomplete="off"/>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>Tcs AppId:</label>
                                <input type="text" class="form-control" id="tcsAppId1" ng-model="updateSettlementReport.tcsAppId" placeholder="Edit Tcs AppId" maxlength="30"    data-toggle="tooltip" readonly data-placement="top" required autocomplete="off"/>
                              </div>
                            </div>
                          </div>
                          <div class="form-group" align="left">
                            <label><span class="color-red f-bold f-left">*</span> Date Of Last Successful Settlement Report:</label><br>
                            <input datepicker id="settlementDate1" class="inputField" ng-model="updateSettlementReport.dateOfLastSuccessfullSettlementReport" >
                          </div>

                          <input type="submit" class="btn green-button color-fff " value="Update" />
                          <input type="button" class="btn btn-reset color-fff" value="Cancel" ng-click="cancelEdit()" />
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="userDelete" user="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content" align="center">
                    <!--<div class="modal-header">-->

                    <!--</div>-->
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <div class="row">
                        <div class="col-lg-12">
                          <h5>Are you sure, you want to <span ng-show="!enableStatus">disable</span><span ng-show="enableStatus">enable</span> the user : {{userName}}?</h5>
                        </div>
                        <div class="col-lg-12">
                          <div class="col-lg-offset-4 col-lg-4">
                            <button class="btn green-button color-fff" ng-click="disableUser()">Yes</button>
                            <button class="btn btn-reset color-fff" data-dismiss="modal">No</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br/>

        <div class="table-responsive">
          <table datatable="ng" class="">
            <caption style=" display: none;">Users</caption>
            <thead>
            <tr class="t-head">
              <!--<th class="id" custom-sort order="'id'" sort="sort">Id&nbsp;</th>-->
              <th class="username" custom-sort order="'username'" sort="sort" scope="col">Agency Id&nbsp;</th>
              <th class="agencyId" custom-sort order="'agencyId'" sort="sort" scope="col">TCS App Id&nbsp;</th>
              <th class="role" custom-sort order="'role'" sort="sort" scope="col">Date Of Last Successful&nbsp;Report Pull</th>
              <!--<th class="email" custom-sort order="'email'" sort="sort">Email&nbsp;</th>-->
              <th class="status" custom-sort order="'status'" sort="sort" ng-show="superAdminLogin == true" scope="col">Actions&nbsp;</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="settlementDetails in settlementReportData">
              <!--<td>{{userDetails.id}}</td>-->
              <td>{{settlementDetails.agencyId}}</td>
              <td>{{settlementDetails.tcsAppId}}</td>
              <td>{{settlementDetails.dateOfLastSuccessfullSettlementReport | date:'shortDate'}}</td>
              <!--<td>{{userDetails.email}}</td>-->
              <td ng-show="superAdminLogin == true" class="action-width">
                <span class="icon cursor-pointer edit-icon m-right5" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#settlementReportEdit" ng-click="editPopup(settlementDetails)">&#9998;</span>
                <!--<span class="icon cursor-pointer disable-icon" ng-if="userDetails.status == 'Active'" data-toggle="modal" data-target="#userDelete" ng-click="deletePopup(userDetails, 'disable')">&#128683;</span>-->
                <!--<span class="icon cursor-pointer disable-icon" style="color:#719e37" data-toggle="modal" data-target="#userDelete" ng-click="deletePopup(userDetails, 'enable')" ng-if="userDetails.status == 'Inactive'">&#10003;</span>-->
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </section>
  </section>
</div>
