<div class="container-fluid">
  <div class="navigation">
    <span><a href="#/" alt="Home"> Home </a> <span class="color-black">></span> Settlement Statements <span class="color-black">></span> Settlement Statement Download</span>
  </div>
  <section class="content">
    <section class="small widget">
      <header>
        <span class="icon">&#128196;</span>
        <hgroup>
          <h1 class="pull-left">Settlement Report : {{filterOption.name}}</h1>
        </hgroup>
      </header>
      <div class="content cycle">
        <br>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="p-all20">
              <form id="settlementForm" >

                <input type="text" ng-hide="true" name="username" id="username" ng-model="appSettlement.machineId" />
                <input type="text" ng-hide="true" name="password" id="password" ng-model="appSettlement.password"/>
                <input type="text" ng-hide="true" name="agency_id" id="agency_id" ng-model="appSettlement.agencyId" />

                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 pull-left" style="padding-bottom: 15px;width: 50%;">
                  <label for="reportOptions"><span class="color-red f-bold f-left"></span>Report Name:</label><br>
                  <select id="reportOptions" name="report_name" class="form-control" ng-model="selectedReport" required>
                    <option  value="ACHActivityFile">ACHActivityFile</option>
                    <option  value="BillingActivityFile">BillingActivityFile</option>
                    <option  value="CollectionsActivityFilev2">CollectionsActivityFilev2</option>
                    <option  value="CollectionsActivityFile">CollectionsActivityFile</option>
                    <option  value="EcommActivityFile">EcommActivityFile (for Digital Wallet Activity File)</option>
                    <option  value="FormActivityFile">FormActivityFile</option>
                    <option  value="FormActivityFileXSL">FormActivityFileXSL</option>
                  </select>
                </div>

                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 pull-left" style="padding-bottom: 15px;">
                  <label for="datepicker"><span class="color-red f-bold f-left"></span>Date:</label><br>
                  <input type="text" id="datepicker" name="date" required style="width:73%">
                </div>
                <input type="hidden" name="format" id="format" value="XMLData" />
                <br>
                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 pull-left" style="padding-bottom: 15px;">
                  <button ng-click="formSubmit()" class="btn green-button color-fff pull-left" id="submit">Download</button>
                </div>
                <a id="downloadLink" href="" style="display: none;"/>

              </form>

            </div>

          </div>

        </div>
      </div>
    </section>
  </section>
</div>
