
<div class="container-fluid">
  <div class="navigation">
    <span><a href="#/" alt="Home">Home</a> <span class="color-black">></span> Settlement Statements <span class="color-black">></span> Settlement Logs</span>
  </div>
  <section class="content">
    <section class="small widget">
      <header>
        <span class="icon">&#128196;</span>
        <hgroup>
          <h1 class="pull-left">Settlement Statements Logs : {{filterOption.name}}</h1>
        </hgroup>
      </header>
      <div class="content cycle">
        <div id="settleDown" class="table-responsive">
          <table datatable="ng" class="table-striped export-table" id="settlementsTable">
            <caption style=" display: none;">Settlement Statements Logs</caption>
            <thead>
            <tr class="t-head">
              <th scope="col">User Name&nbsp;</th>
              <th scope="col">Application Name&nbsp;</th>
              <th scope="col">Agency Id&nbsp;</th>
              <th scope="col">Machine Id&nbsp;</th>
              <th scope="col">Report Name&nbsp;</th>
              <th scope="col">Report Date&nbsp;</th>
              <th scope="col">Created Date&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="logData in settlementLogsData track by $index">
              <td>{{logData.userName}}</td>
              <td>{{logData.applicationName}}</td>
              <td>{{logData.agencyId}}</td>
              <td>{{logData.machineId}}</td>
              <td>{{logData.reportName}}</td>
              <td>{{logData.reportDate  | date:"medium"}}</td>
              <td>{{logData.createdDate  | date:"medium"}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </section>
</div>



