<div class="container-fluid">
  <div class="navigation">
    <span ng-show="!showExportExcel"><a href="#/" alt="Home">Home</a> <span class="color-black">></span> <a href="#/transactions" alt="Flow of Transactions">Flow of Transactions</a> <span class="color-black">></span> Total Transactions</span>
    <span ng-show="showExportExcel"><a href="#/" alt="Home">Home</a> <span class="color-black">></span> <a href="#/reports" alt="Reports">Reports</a> <span class="color-black">></span> Total Transactions</span>
  </div>
  <section class="content">
    <section class="small widget">
      <header>
        <span class="icon">&#128196;</span>
        <hgroup>
          <h1 class="pull-left">Total Transactions: {{selectedAppName}}</h1>
        </hgroup>
      </header>
      <div class="content cycle">
        <div align="center">
          <div class="row" style="margin-left:0px;margin-right:0px;background:#ececec">
            <div class="text-center color-red f-bold" ng-show="dateSelectionError">{{dateError}}</div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
              <div class="d-tbcell col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <label for="startDatePicker">Start Date:</label><br>
                <input datepicker id="startDatePicker" class="inputField">
              </div>
              <div class="d-tbcell col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <label for="endDatePicker">End Date:</label><br>
                <input datepicker id="endDatePicker" class="inputField">
              </div>
              <div class="d-tbcell col-lg-1 col-md-3 col-sm-4 col-xs-12" style="padding-top: 15px"><label>&nbsp;</label><br>
                <!--<button class="btn-xs btn-theme pull-left color-fff f-bold" ng-click="filterByDate()">Submit</button>-->
                <button class="btn-theme btn-sm pull-left hidden-sm hidden-xs color-fff f-bold" ng-click="filterByDate()">Submit</button>
                <button class="btn-theme btn-sm hidden-lg hidden-md color-fff f-bold" ng-click="filterByDate()">Submit</button>
              </div>

              <div class="d-tbcell col-lg-1 col-md-3 col-sm-4 col-xs-12" style="padding-top: 15px" ng-show="showExportExcel" style="float:left"><label>&nbsp;</label><br>
                <iframe id="txtArea1" style="display:none"></iframe>
                <button class="btn-theme btn-md color-fff f-bold" ng-click="ExcelExport('totalTransactionsTable','Total Transactions.xls')">Export to Excel</button>
              </div>
            </div>
          </div>
        </div>

        <br/>



        <div class="table-responsive">
          <div id="totalTransactionsTable_wrapper" class="dataTables_wrapper no-footer">
            <div class="dataTables_length" id="totalTransactionsTable_length">
              <label>Show <select name="totalTransactionsTable_length" aria-controls="totalTransactionsTable"  ng-init="transactionsPerPage='10'" ng-model="transactionsPerPage">
                <option value="10" ngSelected>10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select> entries</label>
            </div>
            <div id="totalTransactionsTable_filter" class="dataTables_filter">
              <label for="search">Search:</label>
              <input ng-model="q"  class="" placeholder="" aria-controls="totalTransactionsTable">
            </div>
          </div>
          <table id="totalTransactionsTable"   class="export-table dataTables_wrapper no-footer" role="grid">
            <caption style=" display: none;">Total Transactions</caption>
            <thead>
            <tr class="t-head">
              <!--<th class="id" custom-sort order="'id'" sort="sort">Id&nbsp;</th>-->
              <!--<th class="status" custom-sort order="'status'" sort="sort">Application Name&nbsp;</th>-->
              <th  ng-class="{'sorting_asc':!reverseSort && orderByField=='hpcs_id','sorting_desc':reverseSort && orderByField=='hpcs_id'}" ng-click="orderByField='hpcs_id'; reverseSort = !reverseSort" custom-sort order="'hpcsId'" sort="sort" scope="col">
                HPCS Id&nbsp;</th>
              <th  ng-class="{'sorting_asc':!reverseSort && orderByField=='operationName','sorting_desc':reverseSort && orderByField=='operationName'}" ng-click="orderByField='operationName'; reverseSort = !reverseSort" custom-sort order="'operationName'" sort="sort" scope="col">
                Operation Name&nbsp;</th>
              <th  ng-class="{'sorting_asc':!reverseSort && orderByField=='agencyTrackingId','sorting_desc':reverseSort && orderByField=='agencyTrackingId'}" ng-click="orderByField='agencyTrackingId'; reverseSort = !reverseSort" custom-sort order="'agencyTrackingId'" sort="sort" scope="col">
                Agency Tracking Id&nbsp;</th>
              <th  ng-class="{'sorting_asc':!reverseSort && orderByField=='paygov_tracking_id','sorting_desc':reverseSort && orderByField=='paygov_tracking_id'}" ng-click="orderByField='paygov_tracking_id'; reverseSort = !reverseSort" custom-sort order="'payGovTrackingId'" sort="sort" scope="col">
                Pay Gov Tracking Id&nbsp;</th>
              <th  ng-class="{'sorting_asc':!reverseSort && orderByField=='status','sorting_desc':reverseSort && orderByField=='status'}" ng-click="orderByField='status'; reverseSort = !reverseSort" custom-sort order="'status'" sort="sort" scope="col">
                Status&nbsp;</th>
              <th  ng-class="{'sorting_asc':!reverseSort && orderByField=='created_date','sorting_desc':reverseSort && orderByField=='createdDate'}" ng-click="orderByField='created_date'; reverseSort = !reverseSort" custom-sort order="'createdDate'" sort="sort" scope="col">
                Created Date&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="transaction in totalTransactions | filter:q |  itemsPerPage: transactionsPerPage | orderBy:orderByField:reverseSort" total-items="transactionsCount" current-page="pagination.current">
              <!--<td> <input type="checkbox" name="checkbox" id="checkbox_id" value="value">-->
              <!--<a href="#/transactiondetails/{{transaction.id}}"> {{transaction.id}}</a></td>-->
              <!--<td>{{transaction.applicationName}}</td>-->
              <td>  <a href="#/transactiondetails/{{transaction.id}}" alt="Hpcs Id">{{transaction.hpcs_id}}</a> </td>
              <td>{{transaction.operationName}}</td>
              <td>{{transaction.agency_tracking_id}}</td>
              <td>{{transaction.paygov_tracking_id}}</td>
              <td>{{transaction.status}}</td>
              <td>{{transaction.created_date | date:"medium" }}</td>
            </tr>
            </tbody>
            <tr class="odd" ng-show="transactionsCount == '0'"><td valign="top" colspan="6" class="dataTables_empty" style="text-align:center">No data available in table</td></tr>
          </table>
          <div id="totalTransactionsTable_wrapper_footer" class="dataTables_wrapper no-footer">
            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls></div>
          <FORM><INPUT Type="button" VALUE="Back" class="btn-md btn-theme color-fff f-bold" onClick="history.go(-1);return true;"></FORM>

        </div>
      </div>
    </section>
  </section>
</div>
