
<!--<div class="container">-->
<div class="container-fluid">
  <div class="navigation">
    <span ng-show="!showExportExcel"><a href="#/" alt="Home">Home</a> <span class="color-black">></span><a href="#/transactions" alt="Flow of Transactions"> Flow of Transactions</a> <span class="color-black">></span> <a class="cursor-pointer" onclick="history.go(-1);return true;" alt="Total Transactions">Total Transactions</a> <span class="color-black">></span> Transaction Details</span>
    <span ng-show="showExportExcel"><a href="#/" alt="Home">Home</a> <span class="color-black">></span><a href="#/reports" alt="Reports"> Reports</a> <span class="color-black">></span> <a class="cursor-pointer" onclick="history.go(-1);return true;" alt="Total Transactions">Total Transactions</a> <span class="color-black">></span> Transaction Details</span>
  </div><br>
  <FORM><INPUT Type="button" class="btn green-button color-fff btn-sm" VALUE="Back" onClick="history.go(-1);return true;">
  </FORM>
  <section class="content">
    <section class="small widget">
      <header>
        <span class="icon">&#128196;</span>
        <hgroup>
          <h1 class="pull-left">Transaction Details</h1>
        </hgroup>
      </header>
      <div class="content cycle">
        <div class="row">
          <div class="col-lg-offset-1 col-lg-10 col-lg-offset-1">
            <div class="table-responsive">

            <table class="table-striped table-condensed table-hover tableWidth" border="1">
              <caption style=" display: none;">Transaction Details</caption>
                <tr>
                    <th class="agencyId width200" custom-sort order="'agencyId'" sort="sort" scope="row">HPCS Id&nbsp;</th>
                    <td class="minWidth250">{{transactionData.hpcs_id}}</td>
                </tr>
              <tr>
                <th class="hpcsId width200" custom-sort order="'hpcsId'" sort="sort" scope="row" nowrap>Agency Tracking Id&nbsp;</th>
                <td class="minWidth250">{{transactionData.agency_tracking_id}}</td>
              </tr>
                <tr>
                    <th class="paygovId width200" custom-sort order="'hpcsId'" sort="sort" scope="row">Paygov Tracking Id&nbsp;</th>
                    <td class="minWidth250">{{transactionData.paygov_tracking_id}}</td>
                </tr>
                <!--<tr>-->
                    <!--<th class="status" custom-sort order="'status'" sort="sort">Application Id&nbsp;</th>-->
                    <!--<td>{{transactionData.applicationId}}</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th class="serviceName" custom-sort order="'serviceName'" sort="sort">User Id&nbsp;</th>-->
                    <!--<td>{{transactionData.userId}}</td>-->
                <!--</tr>-->
                <tr>
                  <th class="status width200" custom-sort order="'operationName'" sort="sort" scope="row">Status&nbsp;</th>
                  <td class="minWidth250">{{transactionData.status}}</td>
                </tr>
              <tr>
                <th class="data width200" custom-sort order="'data'" sort="sort" scope="row">Created Date&nbsp;</th>
                <td class="minWidth250">{{transactionData.created_date | date:"medium"}}</td>
              </tr>
                <tr>
                  <th class="data width200" custom-sort order="'data'" sort="sort" scope="row">Request&nbsp;</th>
                  <td class="minWidth250" id="request">
                  <table class="table-striped table-condensed table-hover"  border="1">
                    <tr ng-repeat="requestData in requestArray track by $index">
                      <th class="data inner-table-th" scope="row">{{requestData.key}}</th>
                      <td class="inner-table-td">{{requestData.value}}</td>
                    </tr>
                    <tr ng-repeat="subArrayData in requestSubArray track by $index">
                      <th class="data inner-table-th" scope="row">{{subArrayData.key}}</th>
                      <td class="inner-table-td">
                        <table class="table-striped table-condensed table-hover"  border="1">
                          <tr ng-repeat="subArray in subArrayData.value track by $index">
                            <th class="data sub-array-th" scope="row">{{subArray.key}}</th>
                            <td class="sub-array-td">{{subArray.value}}</td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  </td>
                </tr>
                <tr>
                  <th class="data width200" custom-sort order="'data'" sort="sort" scope="row">Response&nbsp;</th>
                  <td class="minWidth250" id="response">
                    <table class="table-striped table-condensed table-hover"  border="1">
                      <tr ng-repeat="responseData in responseArray track by $index">
                        <th class="data inner-table-th" scope="row">{{responseData.key}}</th>
                        <td class="inner-table-td">{{responseData.value}}</td>
                      </tr>
                      <tr ng-repeat="subArrayData in responseSubArray track by $index">
                        <th class="data inner-table-th" scope="row">{{subArrayData.key}}</th>
                        <td class="inner-table-td">
                          <table class="table-striped table-condensed table-hover"  border="1">
                            <tr ng-repeat="subArray in subArrayData.value track by $index">
                              <th class="data sub-array-th" scope="row">{{subArray.key}}</th>
                              <td class="sub-array-td">{{subArray.value}}</td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>


            </table>
            </div>
          </div>
        </div>
      </div>
      </section>
    </section>
  </div>
<!--</div>-->
