

*{padding:0;margin:0;font-family:Arial,Helvetica,sans-serif;}

body{font-size:.85em;color:black;background-color:white;height:100%;text-align:center;}

html{height:100%;width:100%;}

h1,h2,h3,h4,h5,h6{font-family:'Archivo Narrow',Arial,Helvetica,sans-serif;}

header,footer,subfooter,nav,section{display:block;}

input[type=text]{-moz-box-shadow:inset 0 3px 8px #9f9f9f;-webkit-box-shadow:inset 0 3px 8px #9f9f9f;box-shadow:inset 0 3px 8px #9f9f9f;border-collapse:separate;padding:0 0 0 5px;}
input[type=text].placeholder_text{color:#777;}

input[type=text]::-webkit-input-placeholder{color:#777;}

select{padding: 3px;}

/*
Before going live with this site search for "notimplemented" and make sure
this class doesn't show ANYWHERE.  Then remove/comment out these 2 lines:
*/
.notimplemented, .notimplemented-small, .notimplemented-notext { color: #668888 !important; background-color: #eeeeaa !important; }
.notimplemented:before { color: #c99; content: "(Not implemented) "; } .notimplemented-small:before { color: #c99; content: "(NI) "; }


@media print {
    .printButton{ display: none; }
    html, body { overflow: hidden;  }
    .printHide{ display:none; }
    .printShow{ display:block; }
}

@media screen {
    .printShow{ display:none; }
}

.desktop{display:inline-block;}
.mobile{display:none;}
.hide{display:none;}
.linkAlert{display:none;}
.spanHeaderLink {cursor:pointer;}

.delete{background:url('../images/deleteIcon.png') no-repeat;text-decoration:underline;}
.cancel{background:url('../images/cancelIcon.png') no-repeat;text-decoration:underline;}
.edit{background:url('../images/editIcon.png') no-repeat;}
.viewDetails{background:url('../images/viewDetailsIcon.png') no-repeat;}
.duplicate{background:url('../images/duplicateIcon.png') no-repeat;}
.reassign{background:url('../images/reassignIcon.png') no-repeat;}
.viewPDF{background:url('../images/viewPdfIcon.png') no-repeat;}
.attachment{background:url('../images/attachmentIcon.png') no-repeat;}
.primaryAccount { background:url('../images/listStar.png') no-repeat; }
.setPrimaryAccount { background:url('../images/listRedArrow.png') no-repeat; }

.ie7 .desktop{display:inline;}
.ie7 .buttonWrapper .text{padding:0 10px 0 10px;}.ie7 .buttonWrapper .text input{line-height:normal;padding:6px 0 0 0;}
.ie7 .mainNav .content .navLinks{float:right;padding:9px 0 0 0;}
.ie7 .mainNav .content form{display:inline;}.ie7 .mainNav .content form input[type=text]{padding:6px 4px;height:16px;}
.ie7 #carouselNav{display:block;padding:10px 0 0 0;overflow:hidden;}.ie7 #carouselNav ul{display:block;}.ie7 #carouselNav ul li{display:block;width:24%;float:left !important;min-width:0px;max-width:none;}
.ie7 #filter{display:block;overflow:hidden;}.ie7 #filter ul{display:block;}.ie7 #filter ul li{display:block;width:24%;float:left !important;min-width:0px;max-width:none;}.ie7 #filter ul li.active{border:2px solid #e9e9e9;}
.ie7 #paymentStepNav{display:block;overflow:hidden;}.ie7 #paymentStepNav ul{display:block;}.ie7 #paymentStepNav ul li{display:block;width:19% !important;float:left !important;min-width:0px;max-width:none;}.ie7 #paymentStepNav ul li.active{border:2px solid #e9e9e9;}
.ie7 #autoPaymentStepNav{display:block;overflow:hidden;}.ie7 #autoPaymentStepNav ul{display:block;}.ie7 #autoPaymentStepNav ul li{display:block;width:33% !important;float:left !important;min-width:0px;max-width:none;}.ie7 #autoPaymentStepNav ul li.active{border:2px solid #e9e9e9;}
.ie7 .profileInfoContent form .cancel{display:inline-block;margin-top:9px !important;}
.ie7 .homeContent .content .column .section{margin:0 0 30px 0;}
.ie7 .needHelp .dosLogo{right:0px;}
.ie7 #logos{bottom:19px !important;}
.ie7 .currentAccount .buttonWrapper{display:inline !important;}
.ie7 .login .buttonWrapper{display:inline !important;}
.ie7 .paymentName .buttonWrapper{display:inline !important;}
.ie8{}.ie8 .mainNav .content form input{height:32px;border:none;}
.ie8 .mainNav .content form input[type=text]{top:0;height:24px;width:302px;padding:8px 0 0 5px;margin:0 0 0 1px;}
.ie8 #filter ul li.active{border:2px solid #e9e9e9;}
.ie8 #paymentStepNav ul li.active,.ie8 #autoPaymentStepNav ul li.active{border:2px solid #e9e9e9;}

fieldset.securityMessage {border: 3px solid #00255C; text-align: left; background-color: #efefef; padding: 10px 10px; margin: 10px 0px; position: relative;}
fieldset.registerToday {border: 1px solid #00255C; text-align: left; padding: 10px 20px; margin: 0px 0px; position: relative;}
registerTodayLegend {padding:10px;}
fieldset.attachmentView { border: 1px solid #00255C; text-align: left; background-color: #efefef; padding: 5px 10px; margin: 0px 10px; width: 750px; height:70%; position: relative;}
fieldset.attachmentView legend { border: 1px solid #00255C; background-color: #fff; padding: 2px 4px; }
fieldset.attachmentView div { width: 98%; height: 93%; overflow: auto; position: absolute;}
div.attachmentView { width: 750px; height:70%; position: relative; }
div.attachmentView .legend { border: 1px solid #00255C; background-color: #fff; font-weight: bold; padding: 2px 4px; position: absolute; top: -5px; left: 20px}
div.attachmentView pre { border: 1px solid #00255C; text-align: left; background-color: #efefef; padding: 20px 10px; margin: 0px 10px; width: 750px; height:400px; overflow: auto;}

.printButton { float: right; padding-bottom: 10px; margin-right: 50px; }
.sort{float:left;}
.pagenumbers {display: inline;}
.totalpages {/* font-size: 12px; */ display: inline;text-align: center;padding-left: 20px;padding-right: 3px}
.buttonsLink { cursor:pointer;padding-top: 5px; }
.submitButtonsLink { padding-bottom: 25px; }
.middleContainer { display: table-cell; vertical-align: middle; padding: 1px;}
.container .containerContent .inputForm form .middleContainer a { margin: 0;}
.errorMsg{color:#B00 !important;font-weight:bold;display:block !important}
.bold{font-weight:bold;}
.italic{font-style:italic;}
.indented { padding-left: 15px; }
.hidden { display: none; }
.highlighted { color: #00255C; }
.noborder { border: none; }
.adobeButton { float: left; border: none; }
.right{float:right;text-align:right;}
.left{float:left;text-align:left;}
.padRight{padding-right:20px !important;}
.padTop{padding-top:20px;}
.marker{color:#a00005;}
.checkboxLabel .marker { float: left; padding-right: 10px; }
.validating { background: url('../images/listStar.png'); background-repeat:no-repeat;background-position:bottom right;}
.nomargin{margin: 0;}
.browserRequirementsError { padding-bottom: 24px; }
.browserRequirementsError div { width: 100%; background-color: #ffffdd; color: #333; border-bottom: 1px solid #f5f5d5; padding: 5px; position: fixed; top: 0px; left: 0px;}
.nobr span { white-space: nowrap; }

.textBetweenButtons {float:left; padding:0 15px 0px 10px;height:34px;line-height:34px;font-size: 1.1em;font-weight: bold;}
.secondaryElement {font-size: 14px; color: #2e2e2e; display: block;}
.tertiaryElement {font-size:12.5px; color: #464646; display: block;}
.primaryElement .label, .secondaryElement .label, .tertiaryElement .label { font-weight: bold; }
.secondaryElement.highlighted { color: #00255C;}
.indented .secondaryElement { margin: 5px 0px; }

div.printableRules {text-align:justify;margin:10px auto;max-width:960px;}
div.stacktrace{font-family: monospace;overflow-x: auto;overflow-y: hidden;width: 705px;padding-top: 10px;}
div.clear { clear: both; }
div.needHelp { min-height: 50px !important; }
div.needHelp .fullHelp img.helpLogo {max-width: 125px; width: 100%; height: auto;} /*width and max width might screw up IE8*/

a.nofocus img, a.nofocus:focus, a.nofocus img:focus { outline: 0; border: none; }

fieldset.customCollection { padding: 8px; }
fieldset.customCollection legend { font-weight: bold; color:#2e2e2e; }

label.errorMsg.hide{display:none !important;}

textarea.agreement { width: 100%; height: 100px; }
input.radiobuttons { margin-right: 4px; }


.modal { position:fixed; top:0; left:0; right:0; bottom:0; background: rgba(0,0,0,0.2); z-index: 1; }
.modal div { position: absolute; background-color: white; top: 50%; left: 50%; width: 200px; border: 1px solid #00255C; color: #00255C; padding: 50px; margin-left: -150px; margin-top: -150px;}

.ie8 .modal, .ie7 .modal {background-image: url('../images/80percentOpacityBkg.png');background-repeat:repeat;}

.pagination{float:right;}
.pagination a{margin:0 3px;}
.pagination span{margin:0 3px;}
.pagination.bottom{width:100%;text-align:right;height:40px;line-height:40px;background:-moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0));background:-webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);background:-o-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);background:-ms-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);background:linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0);}

.alert{background-color:white;background-image:url('../images/AlertShadows_bottom.gif');url('../images/AlertShadows_top.gif');background-repeat:no-repeat;background-position:bottom center, top center;min-width:0px;max-width:960px;height:auto;font-size:12px;z-index:10;margin:0 auto;padding:1px 10px 7px 10px;display:block;}
.alert .content{overflow:hidden;min-width:260px;max-width:900px;min-height:33px;text-align:left;padding-top:6px;padding-left:40px;margin-bottom:6px;background-image:url('../images/AlertFlag.gif');background-repeat:no-repeat;background-position:left 2px;}
.alert .content .alertHeader{color:#89191c;font-weight:bold;}
.alert .content .closeButton{text-align:right;margin-top:-4px;color:#262626;text-decoration:none;float:right;font-weight:bold;cursor:pointer;}

.systemMessage{background-color:white;background-repeat:no-repeat;background-position:bottom center, top center;min-width:0px;max-width:960px;height:auto;font-size:14px;z-index:10;margin:0 auto;padding:1px 10px 7px 10px;display:block;}.systemMessage .content{overflow:hidden;min-width:260px;max-width:900px;min-height:20px;text-align:left;padding-top:6px;padding-left:20px;margin-bottom:6px;color:#89191c;font-weight:bold;}
#systemMessageBox {display: none;}

.breadCrumb{min-width:0px;max-width:960px;margin:0 auto;padding:8px 10px;text-align:left;font-size:12px;color:#262626;}
.breadCrumb a{color:#00255c;text-decoration:none;}

.buttonWrapper{overflow:hidden;margin:10px 0; padding: 1px; height:27px;line-height:27px;}
.buttonWrapper span{float:left;}
.buttonWrapper.big {height:62px;line-height:62px;}

.buttonWrapper .text{ border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; background-color:#787878; background-image: -ms-linear-gradient(top, #787878 0%, #292929 100%); background-image: -moz-linear-gradient(top, #787878 0%, #292929 100%); background-image: -o-linear-gradient(top, #787878 0%, #292929 100%); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #787878), color-stop(100, #292929)); background-image: -webkit-linear-gradient(top, #787878 0%, #292929 100%); background-image: linear-gradient(to bottom, #787878 0%, #292929 100%); filter:progid:dximagetransform.microsoft.gradient(startColorstr='#787878', endColorstr='#292929', GradientType=0);  font-size:12px; padding: 0 20px 0 20px; font-weight:bold;color:#fff;width:auto;}
.buttonWrapper.red .text{ background-color:#A80000; background-image: -ms-linear-gradient(top, #A80000 0%, #690000 100%); background-image: -moz-linear-gradient(top, #A80000 0%, #690000 100%); background-image: -o-linear-gradient(top, #A80000 0%, #690000 100%); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A80000), color-stop(100, #690000)); background-image: -webkit-linear-gradient(top, #A80000 0%, #690000 100%); background-image: linear-gradient(to bottom, #A80000 0%, #690000 100%); filter:progid:dximagetransform.microsoft.gradient(startColorstr='#A80000', endColorstr='#690000', GradientType=0); }
.buttonWrapper.big .text {font-size: 16px;text-transform: uppercase;}

.buttonWrapper .text input{line-height:normal;}
.buttonWrapper a{text-decoration:none;cursor:pointer;}
.buttonWrapper.link a{text-decoration:underline;}
.buttonWrapperRight{margin:0 0; float: right;}
.buttonWrapperLeft{padding-right: 10px; margin:0 0; float: left;}
.spanLink {padding-right:5px;color:blue;text-decoration:underline;cursor:pointer;}
.buttonWrapperFocus { border: 1px dotted #777; padding: 0px;}

.table { display: table; width:100%}
.table .tablerow { display: table-row; }

.table .tablerow .tablecell { display: table-cell; padding: 3px; }
.table .tablerow .tablecell-2 { display: table-cell; width: 50%; }
.table .tablerow .tablecell-3 { display: table-cell; width: 33%; }
.table .tablerow .tablecell-4 { display: table-cell; width: 25%; }
.table .tablerow .right { float: none; text-align: right; }
.table .tablerow .h3-noblock{font-size:16px;font-weight:bold;color:#00255c;margin-bottom:10px;padding-top:2px;}
.table .tablecolumn { float: right; width: 49% }

.container, .containerAdobe {max-width:960px;margin:0 auto;min-height:40%;text-align:left;padding:0 10px;overflow:hidden;}
.container h1{font-size:24px;margin:12px 0 5px 0;color:#2e2e2e;}
.container h1.home{font-size:30px;}
.containerAdobe { overflow: visible; }

.container h1 span{font-size:60%;color:#2e2e2e;}

.container h2{font-size:20px;color:#2e2e2e;}
.container h2.linked{font-size:18px;}

.container h3{font-size:14px;margin:10px 0;color:#2e2e2e;}

.container p{font-size:14px;margin:10px 0;color:#2e2e2e;}
.container p a{color:#2e2e2e;}
.container p a.blue{color:#00255c;}

.container ul{overflow:hidden;list-style-type:none;}
.container ul li{font-size:12px;margin:0 0 20px 0;float:left;min-width:320px;max-width:340px;}

.container ul.onePerLine{overflow:hidden;list-style-type:square;}
.container ul.onePerLine li{font-size:14px;margin:0 0 0 15px;float:none;min-width:0;max-width:none;}

.container ul.numberPerLine{overflow:hidden;list-style-type:decimal;}
.container ul.numberPerLine li{font-size:14px;margin:0 0 0 20px;float:none;min-width:0;max-width:none;}

.container ul.listArrow li{background:url('../images/listRedArrow.png') no-repeat 0px 1px;padding:0 0 0 10px;list-style-position:inside;}
.container ul.listArrow li a{color:#464646;}

.container ul.listArrow.small li{background:url('../images/listRedArrow-small.png') no-repeat 0px 3px;padding:0 0 0 6px;list-style-position:inside;}
.container ul.listArrow.small li a{color:#464646;}

.container ul.listDarkArrow li{background:url('../images/listDarkArrow.png') no-repeat 0px 4px;padding:0 0 0 10px;}

.container ul.listStar li{background:url('../images/listStar.png') no-repeat 0px 1px;padding:0 0 0 16px;font-weight:bold;}
.container ul.listStar li a{color:#2e2e2e;}

.container a{color:#00255c;}

.container .column p{font-size:12px; margin-right:10px;}
.container .column .errorMsg{margin-right:10px;font-size:inherit;}

.container .containerContent{border-top:2px solid #00255c;overflow:hidden;margin:0 0 50px 0;}

.container .containerContent.blue{background-color:#e8ecf1;background:-moz-linear-gradient(top, #e8ecf1 0%, #ffffff 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8ecf1), color-stop(100%, #ffffff));background:-webkit-linear-gradient(top, #e8ecf1 0%, #ffffff 100%);background:-o-linear-gradient(top, #e8ecf1 0%, #ffffff 100%);background:-ms-linear-gradient(top, #e8ecf1 0%, #ffffff 100%);background:linear-gradient(to bottom, #e8ecf1 0%, #ffffff 100%);filter:progid:dximagetransform.microsoft.gradient(startColorstr='#e8ecf1', endColorstr='#ffffff', GradientType=0);}
.container .containerContent.gray{background-color:#f0f0f0;background:-moz-linear-gradient(top, #f0f0f0 0%, #ffffff 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #ffffff));background:-webkit-linear-gradient(top, #f0f0f0 0%, #ffffff 100%);background:-o-linear-gradient(top, #f0f0f0 0%, #ffffff 100%);background:-ms-linear-gradient(top, #f0f0f0 0%, #ffffff 100%);background:linear-gradient(to bottom, #f0f0f0 0%, #ffffff 100%);filter:progid:dximagetransform.microsoft.gradient(startColorstr='#e8ecf1', endColorstr='#ffffff', GradientType=0);}


.container .containerContent .withLeftPanel{background-color:#fff;float:left;width:80% /* width:77%; */}
.container .containerContent .withLeftPanel .needHelp{width:25%;}

.containerAdobe .containerContentAdobe .contentAdobe,
.container .containerContent .content{overflow:hidden;width:74%;padding:0 1% 0 0;float:left;background-color:#fff;}
.container .containerContent .content .column{min-width:320px;width:47%;float:left;}
.container .containerContent .content .column .section{margin:30px 0 0 0;padding:0 60px 0 0;}

.container .pastpayments {margin:0px; padding:0px; width:90%; }
.container .pastpayments table{ border-width: 1px; border-style: outset; border-color: #A8B2D5; border-collapse: collapse; width:90%; }
.container .pastpayments th{ background-color:#E8ECF1; border-width: 1px;padding: 2px; border-style: inset; border-color: lightgrey; border-bottom:3px solid #A8B2D5; font-size:14px; text-align: left; }
.container .pastpayments td{ border-width: 1px; padding: 2px; border-style: inset; border-color: lightgrey; font-size:12px; text-align: left; }
.container .pastpayments .numeric{ text-align: right; }


.container .containerContent .checkboxLabel{vertical-align:top;margin:0 0 20px 0;}
.container .containerContent .checkboxLabel p { padding-left: 16px;}
.container .containerContent .checkboxLabel input{vertical-align:top;margin:0 5px 0 0;}
.container .containerContent .checkboxLabel label{width:80%;display:inline-block;font-weight:bold;margin:0;}

.container .containerContent .content.staticList li { list-style-position: inside; }
.container .containerContent .content.staticList #fullList li { padding-top: 10px; font-weight: bold; }
.container .containerContent .content.staticList #fullList a { color: #00255C; }
.container .containerContent .content.staticList #fullList ol > li { font-weight: normal; padding-top: 10px; margin-left: 20px; }

.containerAdobe .containerContentAdobe .needHelp,
.container .containerContent .needHelp{min-height:250px;width:20%;padding:10px 2% 0 3%;margin:0;float:left;}
.containerAdobe .containerContentAdobe .needHelp p,
.container .containerContent .needHelp p{line-height:1.5;}
.containerAdobe .containerContentAdobe .needHelp.gradientGray,
.container .containerContent .needHelp.gradientGray{background-color:#f0f0f0;background:-moz-linear-gradient(top, #f0f0f0 0%, #ffffff 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #ffffff));background:-webkit-linear-gradient(top, #f0f0f0 0%, #ffffff 100%);background:-o-linear-gradient(top, #f0f0f0 0%, #ffffff 100%);background:-ms-linear-gradient(top, #f0f0f0 0%, #ffffff 100%);background:linear-gradient(to bottom, #f0f0f0 0%, #ffffff 100%);filter:progid:dximagetransform.microsoft.gradient(startColorstr='#e8ecf1', endColorstr='#ffffff', GradientType=0);}
.containerAdobe .containerContentAdobe .needHelp ul li,
.container .containerContent .needHelp ul li{margin:0 0 10px 0;min-width:0px;max-width:none;}
.containerAdobe .containerContentAdobe .needHelp p.minHelp,
.containerAdobe .containerContentAdobe .needHelp p.fullHelp{font-style: italic; font-size: 12px;}
.containerAdobe .containerContentAdobe .needHelp .dosLogo,
.container .containerContent .needHelp .dosLogo{background:url('../images/departmentOfState-logo.png') no-repeat;margin:10px auto;height:113px;width:113px;position:relative;right:7px;}
.containerAdobe .containerContentAdobe .needHelp .title h2,
.container .containerContent .needHelp .title h2{margin:0;}
.containerAdobe .containerContentAdobe .needHelp .title p,
.container .containerContent .needHelp .title p{margin:0;}
.containerAdobe .containerContentAdobe .needHelp .section,
.container .containerContent .needHelp .section{margin:0 0 20px 0;}
.containerAdobe .containerContentAdobe .needHelp .section a,
.container .containerContent .needHelp .section a{color:#00255c;}
.containerAdobe .containerContentAdobe .needHelp .section label,
.container .containerContent .needHelp .section label{font-weight: bold;}

.container .containerContent .login{background:#fff;padding-top:20px;}
.container .containerContent .login label{margin:10px 0 8px 0;display:inline-block;}
.container .containerContent .login input{margin:0 0 8px 0;display:inline-block;padding:4px;}
.container .containerContent .login a{margin:0 0 8px 0;display:inline-block;}
.container .containerContent .login .registerNow{margin:0;position:relative;bottom:17px;right:11px;}
.container .containerContent .login .buttonWrapper{display:inline-block;}
.container .containerContent .login .buttonWrapper .rightCap{width:0;padding:0 5px;}


.container .containerContent .faqs{float:left;width:66%;padding:0 2%;}
.container .containerContent .faqs ol{list-style-position:inside;margin:20px 0 0 0;font-weight:bold;}
.container .containerContent .faqs ol li{margin:0 0 20px 0;}
.container .containerContent .faqs ol ul{margin:15px 0 0 18px;}
.container .containerContent .faqs ol ul li{margin:0 0 15px 0;}
.container .containerContent .faqs .answer{font-weight:normal;}


.container .homeContent{margin:0 0 50px 0;}
.container .homeContent #carouselNav{display:table;table-layout:fixed;width:100%;color:#464646;padding:10px 0 0 0;}
.container .homeContent #carouselNav ul{display:table-row;overflow:visible;}
.container .homeContent #carouselNav ul li{display:table-cell;float:none;line-height:32px;text-align:center;font-size:15px;font-weight:bold;cursor:pointer;}
.container .homeContent #carouselNav ul li .navIndicator{display:none;}
.container .homeContent #carouselNav ul li.active{color:#00255c;}
.container .homeContent #carouselNav ul li.active .navIndicator{display:block;position:relative;margin:0 auto;width:31px;z-index:20;}
.container .homeContent #carouselNav ul li.active .navIndicator img{position:absolute;bottom:-13px;left:0;}
.container .homeContent .carouselNavBottom{background:url('../images/carousel-navShadow.png') repeat-x;height:6px;position:absolute;left:0;width:100%;z-index:10;}
.container .homeContent #carousel{overflow:hidden;position:relative;height:284px;}
.container .homeContent #carousel>div{position:absolute;top:0;width:960px;height:284px;display:none;}
.container .homeContent #carousel>div .carouselContent{position:relative;top:25px;}
.container .homeContent #carousel>div .carouselContent p{min-width:320px;max-width:470px;font-size:14px;}
.container .homeContent #carousel>div.page1{background:url('../images/home-carousel-welcome.jpg') no-repeat right;}
.container .homeContent #carousel>div.page2{background:url('../images/slide2.jpg') no-repeat right;}
.container .homeContent #carousel>div.page3{background:url('../images/slide3.jpg') no-repeat right;}
.container .homeContent #carousel>div.page4{background:url('../images/slide4.jpg') no-repeat right;}
.container .homeContent #carouselPagination{display:none;}
.container .homeContent .content{overflow:hidden;margin:40px 0 0 0;}
.container .homeContent .content .column{width:44%;float:left;}
.container .homeContent .content .column.space{margin:0 12% 0 0;}
.container .homeContent .content .column .title{border-bottom:6px solid #00255c;overflow:hidden;margin:0 0 20px 0;padding:0 0 6px 0;line-height:22px;color:#00255c;width:100%;}
.container .homeContent .content .column .title h2{float:left;font-size:22px;text-transform:uppercase;color:#00255c;}
.container .homeContent .content .column .title span{float:left;margin:0 0 0 8px;}
.container .homeContent .content .column .title a{float:right;}
.container .homeContent .content .column .section{margin:10px 0 0 0;overflow:hidden;}
.container .homeContent .content .column .section h3{text-transform:uppercase;margin:0 0 6px 0;}
.container .homeContent .content .column .listStar{text-transform:uppercase;}
.v-middle {
  vertical-align: middle;
}
.d-tbcell {
  display: table-cell;
}
.d-tbcell {
  display: table-cell;
  padding: 0.2cm;
}
.header-title {
  color: #00295A;
  text-decoration: none;
  font-size: 20px;
}
.layout-theme {
  color: #00295A;
  text-decoration: none;
  font-size: 17px;
}
.titleSize{
  text-align: left;
}

.header{position:relative;min-width:0px;margin:0 auto;background-image: url(../images/header_background.jpg) !important;}
.header .login{color:#00255c;position:absolute;right:1%;line-height:30px;font-size:12px;text-align:right;padding:0 10px 0px 10px;}
.header .login a{text-decoration:none;color:#00255c;}
.header .login span{margin-left:8px;margin-right:8px;}
.header .login span.nomargin{margin: 0;}
.header .content .mMenuContianer{display:none;}
.header .content #home-link{display: block;height: 78px;width: 143px;}


@-moz-document url-prefix(){
    .mainNav .content form input[type=text]{position:relative;top:-1px;}
}
.mainNav{background-color:#00255c;min-height:60px;}
.mainNav .content{overflow:hidden;max-width:960px;margin:0 auto;text-align:left;padding:15px 10px 0 10px;}
.mainNav .content form{display:inline;float:left;}
.mainNav .content form input{height:31px;border:none;}
.mainNav .content form input[type=text]{width:302px;margin:0 0 0 1px;font-size:12px;}
.mainNav .content form .errors {margin: 5px 0;width: 370px;}
.mainNav .content form .errorMsg {color:#fff !important;font-weight:bold;}
.mainNav .content .navLinks{display:inline;line-height:32px;}
.mainNav .content .navLinks a{display:inline;color:white;font-weight:bold;text-decoration:none;text-transform:uppercase;font-size:16px;margin-left:34px;height:50px;width:100px;text-align:center;padding:10px;border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;}
.mainNav .content .navLinks a:hover{color:#2e2e2e;background-color:white;}

.latestNewsWrapper{overflow:hidden;text-align:left;background:url('../images/gradient-latestNews.png') repeat-x top;}
.latestNewsWrapper .latestNews{max-width:960px;margin:0 auto;padding:0 10px;}
.latestNewsWrapper .latestNews h2{font-size:20px;color:#2e2e2e;margin:12px 0;}
.latestNewsWrapper .latestNews .content .column{float:left;width:30%;}
.latestNewsWrapper .latestNews .content .column.space{padding:0 5% 0 0;}
.latestNewsWrapper .latestNews .content .column hr{height:2px;background-color:#464646;}
.latestNewsWrapper .latestNews .content .column h3{font-size:14px;margin:10px 0;color:#2e2e2e;text-transform:uppercase;}
.latestNewsWrapper .latestNews .content .column p{font-size:12px;margin:10px 0;color:#2e2e2e;}
.latestNewsWrapper .latestNews .content .column p a{text-decoration:none;color:#2e2e2e;}
.latestNewsWrapper .latestNews .content .column .postTime{font-size:12px;text-transform:uppercase;}


.footer{height:58px;background-color:#bcc6d3;text-align:center;}
.footer .content{color:#000000;font-size:11.5px;padding:22px 10px 0 10px;margin:0 auto;width:960px;text-align:left;}
.footer .content a{text-decoration:none;color:#000;}
.footer .content span{margin-left:8px;margin-right:8px;}
.footer .content #logos{float:right;position:relative;bottom:4px;}
/*
.footer .content #logos #usaGovLogo{margin:auto 15px auto 0px !important;width:77px;background-image:url('../images/Footer_usagov_dk.jpg');}
.footer .content #logos #dfsLogo{width:80px;background-image:url('../images/Footer_dfs.png');}
.footer .content #logos #dotLogo{width:76px;background-image:url('../images/Footer_dot_dk.jpg');}
*/
.footer .content #logos #usaGovLogo{margin:auto 15px auto 0px !important;width:77px;}
.footer .content #logos #dfsLogo{width:80px;}
.footer .content #logos #dotLogo{width:76px;}
.footer .content #logos a{text-align:right;margin:auto 15px;border:none;height:22px;background-position:left center;background-repeat:no-repeat;display:inline-block;}
.footer .content #logos img{border: none;}
.footer .content #reportIssue img{border: none;}

.subfooter{overflow:hidden;height:155px;width:100%;background-color:#e8ecf1;margin-top:10px;-webkit-box-shadow:0px 3px 14px #070a09;-moz-box-shadow:0px 3px 14px #070a09;box-shadow:0px 3px 14px #070a09;-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=14, Direction=0, Color='#c7c7c7')";filter:progid:dximagetransform.microsoft.shadow(Strength=14, Direction=0, Color='#c7c7c7');}
.subfooter .content{overflow:hidden;margin:0 auto;text-align:left;max-width:960px;color:#464646;font-size:11.5px;padding:22px 10px 0 10px;}
.subfooter .content h3{font-size:13px;color:#262626;margin-bottom:12px;text-transform:uppercase;}
.subfooter .content .subfooterItem{width:20%;float:left;margin-right:10%;line-height:22px;}
.subfooter .content .customerService{width:40%;line-height:14px;margin-right:0px;}
.subfooter .content .customerService h3{margin-top:4px;margin-bottom:20px;}

.subfooter .content .sbu{width:100%;line-height:14px;}
.subfooter .content .sbu h3{margin-top:4px;margin-bottom:20px;}

/* WIZARD STEPS */
.wizard-steps {
    margin:20px 0px 0px 0px;
    padding:0px;
    position: relative;
    clear:both;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.wizard-steps div {position:relative;}
.wizard-steps span { margin: 2px 3px 0px 0px; color: #000; }
.wizard-steps a {
    position:relative;
    display:block;
    width:auto;
    height:24px;
    margin-right: 18px;
    padding:0px 10px 0px 3px;
    float: left;
    font-size:11px;
    line-height:24px;
    color: #2c2c2c;
    background: #e8ecf1;
    text-decoration:none;
    cursor:default;
}
.wizard-steps a:before {
    width:0px;
    height:0px;
    border-top: 12px solid #e8ecf1;
    border-bottom: 12px solid #e8ecf1;
    border-left:12px solid transparent;
    position: absolute;
    content: "";
    top: 0px;
    left: -12px;
}
.wizard-steps a:after {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left:12px solid #e8ecf1;
    position: absolute;
    content: "";
    top: 0px;
    right: -12px;
}
.wizard-steps .active-step a { color: #00255c; background: #fff;}
.wizard-steps .active-step a:before { border-top: 12px solid #fff; border-bottom: 12px solid #fff;}
.wizard-steps .active-step a:after {border-left: 12px solid #fff;}
.wizard-steps .active-step span {
    color: #ccc;
}


/*
    home/makePayment
*/
.container .containerContent .makePayment{margin: 30px 0 0;}
.container .containerContent .makePayment ol{margin-bottom:25px;}
.container .containerContent .makePayment ol li{margin:10px 20px;}
.container .containerContent .makePayment ul.listArrow li{margin-left:0;}
.container .containerContent .makePayment .searchSection{width:100%;float:none;border:none !important;margin:0 !important;padding:0 !important;}
.container .containerContent .makePayment .searchSection .searchBar{overflow:hidden;margin:10px 0 !important;}
.container .containerContent .makePayment .searchSection .searchBar input{float:left;width:310px;height:28px;margin:1px 4px 0 0;}
.container .containerContent .makePayment .searchSection .searchBar div.errors{float:left;}
.container .containerContent .makePayment .searchSection .searchBar .buttonWrapper{float:left;margin:0;}
.container .containerContent .makePayment .searchSection .searchBar .searchArea{float:left; width:100%;}


/*
    home/help
*/
.container .containerContent .helpSupport { width: 100%; }

/*
    common/__init (IE7/IE8)
    search/fullSearchResults
*/
.container .containerContent .refineResults{width:20%;float:left;font-size:12.5px;color:#262626;}
.container .containerContent .refineResults .refineResultsContent{padding:20px 20px 0 20px;}
.container .containerContent .refineResults .refineResultsContent .h2{font-size:12.5px;font-weight:bold;display:block;}
.container .containerContent .refineResults .refineResultsContent .searchFilter{background-color:#ffffff;border:1px solid #c6c6c6;margin-top:20px;color:#262626;padding-bottom:4px;}
.container .containerContent .refineResults .refineResultsContent .searchFilter.collapse .h3{margin:5px auto 0px auto;padding-bottom:0px;background-image:url('../images/CollapseArrow_Collapse.gif');border-bottom:none;}
.container .containerContent .refineResults .refineResultsContent .searchFilter.collapse div{display:none;}
.container .containerContent .refineResults .refineResultsContent .searchFilter .h3{font-size:16px;margin:5px auto 12px auto;border-bottom:1px solid #c6c6c6;padding-left:10px;padding-bottom:6px;background-image:url('../images/CollapseArrow_Expand.gif');background-position:95% 6px;background-repeat:no-repeat;font-weight:bold;display:block;}
.container .containerContent .refineResults .refineResultsContent .searchFilter div{vertical-align:top;margin-bottom:10px;font-size:12.6px;}
.container .containerContent .refineResults .refineResultsContent .searchFilter .showAll{padding-left:32px;}
.container .containerContent .refineResults .refineResultsContent .searchFilter input[type=checkbox]{margin-left:10px;margin-right:6px;vertical-align:top;margin-top:2px;}
.container .containerContent .refineResults .refineResultsContent .searchFilter label{width:70%;display:inline-block;}
.container .containerContent .refineResults .refineResultsContent .buttonWrapper{display:none;}

/*
    search/fullSearchResults
    user/myForms

    TABS
*/
.container .containerContent .searchResults .payments,
 .container .containerContent .searchResults .agency,
 .container .containerContent .searchResults .documents,
 .container .containerContent .searchResults .helpSupport,
 .container .containerContent .searchResults .submitted,
 .container .containerContent .searchResults .saved,
 .container .containerContent .searchResults .reassigned,
 .container .containerContent .searchResults .private
 {visibility:collapse;display: none;}

.container .containerContent .searchResults .payments.active,
 .container .containerContent .searchResults .agency.active,
 .container .containerContent .searchResults .documents.active,
 .container .containerContent .searchResults .helpSupport.active,
 .container .containerContent .searchResults .submitted.active,
 .container .containerContent .searchResults .saved.active,
 .container .containerContent .searchResults .reassigned.active,
 .container .containerContent .searchResults .private.active
 {visibility:visible;display: block !important;overflow:hidden;width:100%;}

/*
    user/_myAccountNav
*/
.container .containerContent .myAccountNav{width:20%;float:left;}
.container .containerContent .myAccountNav h1{margin-top:0px;color:#00255c;font-size:16px;height:29px;padding-top:14px;padding-left:43px;background-image:url('../images/MyAccountProfile.png');background-repeat:no-repeat;background-position:15px center;}
.container .containerContent .myAccountNav .whiteSpacer{height:8px;background-color:#ffffff;}
.container .containerContent .myAccountNav .subNav{margin-top:4px;padding-top:14px;padding-bottom:14px;}
.container .containerContent .myAccountNav .subNav ul{padding-left:25px;margin-top:0px;margin-bottom:0px;}
.container .containerContent .myAccountNav .subNav ul li{margin-bottom:10px;}
.container .containerContent .myAccountNav .subNav a{color:#262626;font-size:14px;}
.container .containerContent .myAccountNav .subNav .selected{font-weight:bold;}

/*
    search/agencyFormsList
    search/fullSearchResults
    user/bankAccount
    user/plasticCardAccount
    user/updateProfile
    user/paymentAccounts
    user/paymentActivity
    user/myForms
*/
.container .containerContent .withLeftPanel .insideRight{width:66%;padding:10px 2% 0 2%;float:left;font-size:14px;background-color:#ffffff;}


/*
    search/_browsePage
*/
.container .containerContent .findAgencyContent .index{margin:20px 0 40px 0;overflow:hidden;}
.container .containerContent .findAgencyContent .index a{float:left;margin:0 10px 0 0;font-size:15px;}
.container .containerContent .findAgencyContent .section{border-bottom:1px solid #a2a2a2;margin:0 0 25px 0;}
.container .containerContent .findAgencyContent .section h2{color:#2e2e2e;font-size:24px;margin:0 0 10px 0;}
.container .containerContent .findAgencyContent .section a{font-size:14px;margin:0 0 15px 0;display:block;}
.container .containerContent .findAgencyContent .section ul li{margin:0;}
.container .containerContent .findAgencyContent .listArrow{padding:20px 0 5px 0;}


/*
    accesscode/accessGrantStep1
    accesscode/accessGrantStep2
    password/forgotPasswordStep1
    password/forgotPasswordStep2
    password/forgotPasswordStep3
    user/accountRegistration
    user/bankAccount
    user/plasticCardAccount
    user/updateProfile
    user/reassignFormStep1
    user/reassignFormStep2
*/
.container .containerContent .inputForm .required{font-weight:bold;margin-top:18px;margin-bottom:20px;}
.container .containerContent .inputForm .error{border:2px solid #B00;}
.container .containerContent .inputForm .errorMsg{color:#B00;font-weight:bold; margin-top: 0px;}

.container .containerContent .inputForm form{margin:0 0 40px 0;} /* add */
.container .containerContent .inputForm form label{display:block;margin-top:20px;margin-bottom:4px;font-weight:bold;}
.container .containerContent .inputForm form input{width:276px;padding:3px;}
.container .containerContent .inputForm form select{width:286px;}
.container .containerContent .inputForm form span.redirect{font-weight:normal;}
.container .containerContent .inputForm form textarea{display:block;margin:30px 0 5px 0;width:90%;height:150px;padding:7px;line-height:1.4;} /* add */
.container .containerContent .inputForm form a{display:block;margin:0 0 20px 0;}
.container .containerContent .inputForm form a.image{display:inline-block; vertical-align: top; margin-bottom: 0px; margin-top:10px;}
.container .containerContent .inputForm form input[type=checkbox]{width:auto;}
.container .containerContent .inputForm form input[type=radio]{width:auto;}
.container .containerContent .inputForm form .inputDesc{display:block;margin:5px 0 0 0;}
.container .containerContent .inputForm form .checkboxLabel{margin:20px 0;}
.container .containerContent .inputForm form .checkboxLabel input{vertical-align:top;margin:0 5px 0 0;}
.container .containerContent .inputForm form .checkboxLabel label{width:80%;display:inline-block;font-weight:bold;margin:0;}
.container .containerContent .inputForm form .security{margin:10px 0 4px 0;}
.container .containerContent .inputForm form .button{color:white;width:auto;font-weight:bold;border:none;background-color:transparent;line-height:normal;}
.container .containerContent .inputForm form .cancel{height:32px;vertical-align:middle;margin:0 auto; background:none; display: inline-block; } /*display:table-cell;}*/
.container .containerContent .inputForm form #expirationMonth {width: auto;}
.container .containerContent .inputForm form #expirationYear {width: auto;}
.container .containerContent .inputForm form .rightCap{width:0;}

/* previously "paymentName" */
.container .containerContent .inputForm h2{margin:20px 0;}
.container .containerContent .inputForm ul li{max-width:100%;width:100%;}
.container .containerContent .inputForm form div.radioLabel{margin:5px 0 5px 10px;}
.container .containerContent .inputForm form div.radioLabel label{display:inline;margin:5px 0;}
/* .container .containerContent .inputForm{margin:20px 0;} */
/* .container .containerContent .inputForm .required{margin:20px 0;} */
/* .container .containerContent .inputForm .buttonWrapper{display:inline-block;} */
/* .container .containerContent .inputForm form div{margin:20px 0;} */
/* .container .containerContent .inputForm form div label{display:block;margin:0 0 5px 0;} */

/* collection step2 */
#paypalNotes, #paypalNotes li{width: 90%;}
.padTop{padding-top:10px !important;}
.ecommNotes, .ecommNotes ul.listArrow li {overflow:visible !important;width:inherit !important;}
.ecommNotes {display:none;}
.disclaimer {display:none;}

/*
    form/formViewReceipt
    form/formViewStep0
    form/formViewStep1
    form/formViewStep1b
    form/formViewStep2
    form/formViewStep2ACH
    form/formViewStep2PayPal
    form/formViewStep2Plastic
    form/formViewStep3ACH
    form/formViewStep4
*/
.container .containerContent .paymentName{margin:20px 0;}
.container .containerContent .paymentName h2{margin:20px 0;}
.container .containerContent .paymentName ul li{max-width:100%;width:100%;}
.container .containerContent .paymentName .required{margin:20px 0;}
.container .containerContent .paymentName .buttonWrapper{display:inline-block;}
.container .containerContent .paymentName form{margin:0 0 50px 0;}
.container .containerContent .paymentName form div{margin:20px 0;}
.container .containerContent .paymentName form div label{display:block;margin:0 0 5px 0;}
.container .containerContent .paymentName form div.radioLabel{margin:5px 0 5px 10px;}
.container .containerContent .paymentName form div.radioLabel label{display:inline;margin:5px 0;}

#receiptContainer #achCreditInstructions{width:100%;clear:both;}
#receiptContainer #achCreditInstructions h2{text-align:center;}
#receiptContainer #achCreditInstructions p{margin:20px 0;}
#receiptContainer #achCreditInstructions table{width:100%;border-collapse:collapse;border:2px solid #00255C;padding:5px;}
#receiptContainer #achCreditInstructions table thead tr{background-color:rgb(153, 163, 200);}
#receiptContainer #achCreditInstructions table thead tr:first-child{text-align:center;}
#receiptContainer #achCreditInstructions table thead tr th{padding:5px;}
#receiptContainer #achCreditInstructions table tbody tr:nth-child(odd){background-color:#e8ecf1;}
#receiptContainer #achCreditInstructions table tbody tr td{border:1px solid #00255C;padding:3px;}
#receiptContainer #achCreditInstructions table tbody tr td strong{font-weight:normal;font-style:italic;font-size:.80em;}

/*
    form/formViewStep0
*/
.container .containerContent .paymentOptions h3{margin:20px 0 10px 0;}
.container .containerContent .paymentOptions ol{line-height:0.9em;height:auto;}
.container .containerContent .paymentOptions ol li{font-size:12px;margin:10px 20px;}
.container .containerContent .paymentOptions ol li a{margin:0 0 2px 0;display:inline-block;}

/*
    search/agencyFormsList
    search/fullSearchResults
    user/myForms
*/
.container .containerContent .searchResults #filter{background-color:#e8ecf1;display:table;table-layout:fixed;width:100%;color:#464646;margin:15px 0 15px 0;padding-left:1px;}
.container .containerContent .searchResults #filter ul{display:table-row;}
.container .containerContent .searchResults #filter ul li{display:table-cell;float:none;line-height:32px;text-align:center;font-size:15px;font-weight:bold;cursor:pointer;}
.container .containerContent .searchResults #filter ul li a{color:#464646; text-decoration: none;}
.container .containerContent .searchResults #filter ul li.active a{color:#00255c; text-decoration: none;}
.container .containerContent .searchResults #filter ul li .navIndicator{display:none;}
.container .containerContent .searchResults #filter ul li.active{background-color:#fff;color:#00255c;-webkit-box-shadow:0px 0px 5px rgba(50, 50, 50, 0.2);-moz-box-shadow:0px 0px 5px rgba(50, 50, 50, 0.2);box-shadow:0px 0px 5px rgba(50, 50, 50, 0.2);}
.container .containerContent .searchResults #filter ul li.active .navIndicator{display:block;position:relative;margin:0 auto;width:64px;}
.container .containerContent .searchResults #filter ul li.active .navIndicator img{position:absolute;bottom:-9px;left:0;z-index:11;}
.container .containerContent .searchResults .tabMenu{font-size:11px;margin:0 8px 10px 8px;}
.container .containerContent .searchResults .tabMenu label{font-size:12px;}
.container .containerContent .searchResults .tabMenu select{margin-left:6px;}
.container .containerContent .searchResults .tabMenu .topFooter{font-size:12px;float:right;}
.container .containerContent .searchResults .searchFooter{text-align:right;height:24px;font-size:12px;margin:0 14px 0 8px;padding-right:9px;padding-top:6px;background-color:#ffffff;background:-moz-linear-gradient(top, #ffffff 0%, #e8ecf1 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e8ecf1));background:-webkit-linear-gradient(top, #ffffff 0%, #e8ecf1 100%);background:-o-linear-gradient(top, #ffffff 0%, #e8ecf1 100%);background:-ms-linear-gradient(top, #ffffff 0%, #e8ecf1 100%);background:linear-gradient(to bottom, #ffffff 0%, #e8ecf1 100%);filter:progid:dximagetransform.microsoft.gradient(startColorstr='#e8ecf1', endColorstr='#ffffff', GradientType=0);}
.container .containerContent .searchResults .searchItem{margin:20px 8px 0 8px;padding-top:10px;}
.container .containerContent .searchResults .searchItem.last .buttons{border-bottom:none;margin-bottom:0px;}
.container .containerContent .searchResults .searchItem.private{background-image:url('../images/PrivateFlag.gif');background-position:right top;background-repeat:no-repeat;}
.container .containerContent .searchResults .searchItem .h3{font-size:16px;font-weight:bold;color:#00255c;margin-bottom:10px;padding-top:2px;display:block;width:75%;}
.container .containerContent .searchResults .searchItem .h4{font-size:12.5px;font-weight:normal;color:#00255c;display:block;padding:10px 0;}
.container .containerContent .searchResults .searchItem .h5{font-size:10.5px;font-weight:normal;color:#3d3d3d;display:block;padding-bottom:4px 0 10px 0;}
.container .containerContent .searchResults .searchItem p{font-size:12.5px;color:#4f4f4f;margin-top:6px;margin-right:6px;}
.container .containerContent .searchResults .searchItem .buttons{border-bottom:1px solid #c6c6c6;overflow:hidden;height:auto;padding:10px 0px 5px 0;margin:0;font-size:12.5px;color:#262626;}
.container .containerContent .searchResults .searchItem .buttons a{color:#00255c;}
.container .containerContent .searchResults .searchItem .buttons span{display:inline-block;margin-top:0px;}
.container .containerContent .searchResults .searchItem .buttons .buttonWrapper a{color:#ffffff;text-decoration:none;}
.container .containerContent .searchResults .searchItem .buttons .buttonWrapper .rightCap{width:0;}
.container .containerContent .searchResults .searchItem .buttons .remove{margin-left:108px;overflow:hidden;float:right;padding-top:6px;}
.container .containerContent .searchResults .searchItem .buttons .right{float:right;text-align:right;}
.container .containerContent .searchResults .searchItem .rightText {float:right;text-align:right;overflow:hidden;height:auto;padding:10px 0px 5px 0;margin:0;font-size:12.5px;color:#262626;}
.container .containerContent .searchResults .searchItem.border{border-bottom:1px solid #c6c6c6;}

.container .containerContent .searchResults .buttonRefine{display:none;}
.container .containerContent .searchResults .submitted {padding: 10px 0 0;}

/*
    user/paymentAccounts
*/
.container .containerContent .withLeftPanel .paymentAccounts .buttonWrapper{float:right;clear:both;margin:0 0 40px 0;}
.container .containerContent .withLeftPanel .paymentAccounts .buttonWrapper .rightCap{width:0;padding:0 5px;}

/*
    billView
*/
.container .containerContent .billView select{padding:2px;}
.container .containerContent .robView form textarea{margin:30px 0 5px 0;width:100%;height:250px;box-sizing: border-box;}
.container .containerContent .robView ul li{margin: 0 25px 5px;list-style-type: disc;}
.container .containerContent .robView #sectionHeader {font-weight:bold;}
.container .containerContent .robView #robContent {width:100%;height:400px;overflow-y:scroll;border:1px solid lightgray;}

/*
    user/paymentActivity
*/
.container .containerContent .withLeftPanel .paymentActivity .pagination{float:right;}
.container .containerContent .withLeftPanel .paymentActivity .pagination a{margin:0 3px;}
.container .containerContent .withLeftPanel .paymentActivity .pagination.bottom{width:100%;text-align:right;height:40px;line-height:40px;background:-moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0));background:-webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);background:-o-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);background:-ms-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);background:linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0);}

.container .containerContent .withLeftPanel .paymentActivity .sortFilter{margin:20px 0;}
.container .containerContent .withLeftPanel .paymentActivity .sortFilter #filter{background-color:#e8ecf1;display:table;table-layout:fixed;width:100%;color:#464646;margin:0 0 20px 0;}
.container .containerContent .withLeftPanel .paymentActivity .sortFilter #filter ul{display:table-row;}
.container .containerContent .withLeftPanel .paymentActivity .sortFilter #filter ul li{display:table-cell;float:none;line-height:32px;text-align:center;font-size:15px;font-weight:bold;cursor:pointer;}
.container .containerContent .withLeftPanel .paymentActivity .sortFilter #filter ul li .navIndicator{display:none;}
.container .containerContent .withLeftPanel .paymentActivity .sortFilter #filter ul li.active{background-color:#fff;color:#00255c;-webkit-box-shadow:0px 0px 5px rgba(50, 50, 50, 0.2);-moz-box-shadow:0px 0px 5px rgba(50, 50, 50, 0.2);box-shadow:0px 0px 5px rgba(50, 50, 50, 0.2);}
.container .containerContent .withLeftPanel .paymentActivity .sortFilter #filter ul li.active .navIndicator{display:block;position:relative;margin:0 auto;width:64px;}
.container .containerContent .withLeftPanel .paymentActivity .sortFilter #filter ul li.active .navIndicator img{position:absolute;bottom:-9px;left:0;z-index:11;}
.container .containerContent .withLeftPanel .paymentActivity .sortFilter .sort{float:left;}
.container .containerContent .withLeftPanel .paymentActivity .sortFilter .sort .label{display:inline;margin:0 4px 0 0;}

/*
    search/agencyFormsList
    search/fullSearchResults
    user/myForms
    user/paymentAccounts
    user/paymentActivity
*/
.container .containerContent .searchResults .section{width:100%;overflow:hidden;margin:0 0 10px 0;display:none;}
.container .containerContent .searchResults .section h2{color:#2e2e2e;font-size:18px;padding:20px 0;border-bottom:1px solid #a2a2a2;}
.container .containerContent .searchResults .section.active{display:block;}
.container .containerContent .searchResults .section .infoSection{overflow:hidden;border-bottom:1px solid #a2a2a2;padding:10px 0 10px 0;color:#2e2e2e;}
.container .containerContent .searchResults .section .infoSection.last{border-bottom:none;}
/* might need specific .info widths - withLinks / noLinks ? */
.container .containerContent .searchResults .section .infoSection .info{width:70%;float:left;}
.container .containerContent .searchResults .section .infoSection .info .h3{font-size:16px;font-weight:bold;color:#00255c;margin-bottom:10px;padding-top:2px;display:block;width:75%;}
.container .containerContent .searchResults .section .infoSection .info .h4{font-size:12.5px;font-weight:normal;color:#00255c;display:block;padding:10px 0;}
.container .containerContent .searchResults .section .infoSection .info .h5{font-size:10.5px;font-weight:normal;color:#7d7d7d;display:block;padding-bottom:4px 0 10px 0;}
.container .containerContent .searchResults .section .infoSection .info h3{font-size:16px;padding-bottom:10px;text-transform:uppercase;}
.container .containerContent .searchResults .section .infoSection .info h3 span{font-size:12px;}
.container .containerContent .searchResults .section .infoSection .info p{font-size:12.5px;color:#4f4f4f;margin-top:6px;margin-right:6px;}
.container .containerContent .searchResults .section .infoSection .info .line{margin:5px 0;}
.container .containerContent .searchResults .section .infoSection .info .line .label{font-weight:bold;}
.container .containerContent .searchResults .section .infoSection .buttons{float:right;margin:10px 0 0 0;}
.container .containerContent .searchResults .section .infoSection .buttons span{margin:0 0 10px 0;padding:0 0 0 20px;display:block;}
.container .containerContent .searchResults .section .infoSection .buttons a{color:#2e2e2e;}
.container .containerContent .searchResults .section .infoSection .buttons .enrolled{font-size:12.5px;font-weight:bold;color:#00255c;display:block;}
.container .containerContent .searchResults .section .infoSection .buttons.buttonWrapperLeft {float:left;}
.container .containerContent .searchResults .section .infoSection .buttons.buttonWrapperLeft span {padding: 0;}
/*
    user/myForms
*/
.container .containerContent .searchResults .section .infoSection.withButton .buttons {margin: 0;}
.container .containerContent .searchResults .section .infoSection.withButton .buttons .buttonWrapper {overflow: inherit;}
.container .containerContent .searchResults .section .infoSection.withButton .buttons .buttonWrapper span {padding: 0;}

/*
   ebilling bills html header(comments) style (for displaying  UL and OL in BIRT,  ebilling only)
*/

.container .ebillingHtmlComments ul {list-style-type:disc;  padding:1em; margin:1em;}
.container .ebillingHtmlComments ol {list-style-type:decimal;  padding:1em; margin:1em;}

.futureDateMessage, .transactionDateMessage {font-style: italic;}
/*
    508 Skip Navigation Links
*/
.skip {position: absolute;top: -1000px;left: -1000px;height:1px;width:1px;text-align:left;overflow: hidden;}
a.skip:active, a.skip:focus, a.skip:hover {left:0;top:0;width:auto;height:auto;overflow:visible;}

.buttonWrapper .text.makePayemtButton {font-size: 16px;text-transform: uppercase;}

.dialogReportIssue p {border: 1px solid transparent; padding: 0.3em;}
.dialogReportIssue form fieldset {padding:10px; border:0;}
.dialogReportIssue form fieldset label {display:block; text-align: left;padding:5px; font-weight: bold;}
.dialogReportIssue form fieldset .dialogInput {display:block; width: 90%;padding:5px;}
.dialogReportIssue form fieldset .dialogTitle {text-align: left;padding:5px; font-weight: bold;}
.dialogReportIssue form fieldset table {text-align: left;padding:5px;width: 90%;}
.dialogReportIssue form fieldset table tr td {padding:5px;}
.dialogReportIssue form fieldset .hiddenSubmit {position:absolute; top:-1000px;}
.dialogReportIssue form fieldset textarea {display:block;height: 100px; padding:5px; width: 90%;}
.dialogReportIssue form fieldset .dialogDisclaimer {text-align: left;width: 90%;}

