/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */
body { font: 12px Verdana,sans-serif; color: #484848; }

h4
{
  font-size: 24px;
  margin: 12px 0 5px 0;
  color: #2e2e2e;
  font-family: 'Archivo Narrow',Arial,Helvetica,sans-serif;
}

@media(min-width:768px) {
  body {
    margin-top: 50px;
  }
}
.navbar.navbar-inverse.navbar-fixed-top {
  background-image: url(../images/header_background.jpg) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background: transparent;
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: #fff;
}

.huge {
  font-size: 50px;
  line-height: normal;
}

@media(min-width:768px) {
  #wrapper {
    padding: 8px 25px;
  }

  #page-wrapper {
    padding: 10px;
  }
}

/* Top Navigation */

.top-nav {
  /* box-shadow: inset 0 3px 8px #9f9f9f;*/
  border-collapse: separate;
  padding: 0 0 0 75px;
  padding-top: 5px;
}

.top-nav>li {
  display: inline-block;
  float: left;
}

.top-nav>li>a {
  /*padding-top: 15px;*/
  /*padding-bottom: 15px;*/
  line-height: 5px;
  color: #00295A;
  margin-right: 15px;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus {
  background-color: #00295A;
  color: #fff;

}

.top-nav>.open>.dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  border: 1px solid rgba(0,0,0,.15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
  background-color: #eee;
  border-color:#337ab7;
  color: #00295A;
}

.top-nav>.open>.dropdown-menu>li>a {
  white-space: normal;
  color: #00295A;
}

ul.message-dropdown {
  padding: 0;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

li.message-preview {
  width: 275px;
  border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
  padding-top: 15px;
  padding-bottom: 15px;
}

li.message-footer {
  margin: 5px 0;
}

ul.alert-dropdown {
  width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
  .side-nav {
    position: fixed;
    top: 51px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #00295A;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
  }

  .side-nav>li>a {
    width: 225px;
    color: #FFFFFF;
  }
}

.side-nav li a:hover,
.side-nav li a:focus {
  /*outline: none;*/
  background-color: #FFFFFF !important;
  color: #00295A;
}

.side-nav>li>ul {
  padding: 0;
}

.side-nav>li>ul>li>a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #FFFFFF;
}

.side-nav>li>ul>li>a:hover {
  color: #00295A;
}

/* Flot Chart Containers */

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

/* Custom Colored Panels */

.huge {
  font-size: 40px;
}

.panel-green {
  border-color: #5cb85c;
}

.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}

.panel-green > a {
  color: #5cb85c;
}

.panel-green > a:hover {
  color: #3d8b3d;
}

.panel-red {
  border-color: #d9534f;
}

.panel-red > .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}

.panel-red > a {
  color: #d9534f;
}

.panel-red > a:hover {
  color: #b52b27;
}

.panel-yellow {
  border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}

.panel-yellow > a {
  color: #f0ad4e;
}

.panel-yellow > a:hover {
  color: #df8a13;
}

/** Charts **/
.chart {
  padding: 3px;
}
.navbar.navbar-inverse.navbar-fixed-top {
  background: url('../images/header_background.jpg') no-repeat cover;
}

*{
  box-sizing: border-box;
  font-family : "verdana"
}


/*#controls{*/
/*height: 20px;*/
/*width: 100px;*/
/*background-color : #5F7E87;*/
/*color : white;*/
/*padding: 1px;*/
/*}*/

.legend > table
{
  top: 340px;
}
.legend > table > tbody > tr
{
  background-color: #fff;
  color: #333;
  display: table-cell;
}
h4
{
  font-size: 20px;
  margin: 12px 0 5px 0;
  color: #2e2e2e;
  font-family: 'Archivo Narrow',Arial,Helvetica,sans-serif;
}


.hr-border {
  border: 1px solid #00255c;
  margin-top: 0px;
}

.nav .top-nav ul
{
  box-shadow: inset 0 3px 8px #9f9f9f;
  border-collapse: separate;
  padding: 0 0 0 5px;
}

.blue-button
{
  border: 1px solid #323537;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  background: #208ed3;
  background: -moz-linear-gradient(top, #208ed3 0%, #0272bd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#208ed3), color-stop(100%,#0272bd));
  background: -webkit-linear-gradient(top, #208ed3 0%,#0272bd 100%);
  background: -o-linear-gradient(top, #208ed3 0%,#0272bd 100%);
  background: -ms-linear-gradient(top, #208ed3 0%,#0272bd 100%);
  background: linear-gradient(to bottom, #208ed3 0%,#0272bd 100%);
}

.inputField
{
  padding: 4px 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  height: 34px;
}
.green-button
{
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #719e37;
  margin: 0;
  background: #9bc747;
  background: -moz-linear-gradient(top, #9bc747 0%, #82bd42 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9bc747), color-stop(100%,#82bd42));
  background: -webkit-linear-gradient(top, #9bc747 0%,#82bd42 100%);
  background: -o-linear-gradient(top, #9bc747 0%,#82bd42 100%);
  background: -ms-linear-gradient(top, #9bc747 0%,#82bd42 100%);
  background: linear-gradient(to bottom, #9bc747 0%,#82bd42 100%);
}
td,th { /* border: 1px solid #dddddd;*/
  vertical-align:bottom;text-align:left;padding: 8px;
}
table {
  /*font-family: arial, sans-serif;*/
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.dataTable > tbody > tr > td
{
  border-top : 1px solid #eee;
}
.dataTable > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  /* background-color: #eaeaea;*/
}

.dataTable .action-width{  width: 100px; }

.dataTable .app-name{ word-wrap: break-word;min-width: 100px; max-width: 150px }

.tableWidth { min-width: 50%; }

.d-table{
  display:table-cell;

}

.t-head{
  background-color: #d9e0e8;
  color: #00295A;
}

.tbcell-edit{
  color: #00295A;
  cursor: pointer !important;
  font-size: 16px;
  /*color: white;*/
}

.tbcell-delete{
  /*color: white;*/
  color: #af0514;
  cursor: pointer !important;
  font-size: 16px;
}

.d-tbcell{
  display:table-cell;
  padding: 0.2cm;
}



.pall10{ padding: 10px; }

.m-right5{ margin-right: 5px; }

.cursor-pointer { cursor: pointer !important; }

.color-red{ color: red;}
.color-black{ color: #000000;}
.color-fff{ color: white;}

.f-left { float: left; }

.f-bold { font-weight: bold; }

.chart {
  width: 500px;
  height: 500px;
}

.navbar-inverse{
  background-color: transparent;
  color: #00295A;
  border-color: #8096ae;
  background-image: url('../images/header_background.jpg') !important;
  /*height:131px;*/
}
.header-background { background-image: url('../images/header_background.jpg') !important;}
.navbar-inverse .navbar-brand{
  color: #00295A;
}
.navbar-inverse{
  border-color: #8096ae;}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
  background-color: #00295A;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background-color: #FFFFFF;
  color: #00295A;
}

.navbar-inverse .navbar-nav>li>a{
  color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:active{
  color: #00295A;
}

.btn-theme{
  background-color: #af0514;
  font-size: 11px;
  display: inline-block;
  padding: 3px 5px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.minWidth250{word-wrap: break-word;min-width: 500px; max-width: 750px}
.width200{width: 200px;}

.inner-table-th{min-width:200px; max-width: 200px}
.inner-table-td{min-width:200px; max-width: 500px; word-wrap: break-word;}

.sub-array-th{max-width: 150px; min-width: 175px;}
.sub-array-td{max-width: 300px; min-width: 300px;}

.hr-border {
  border: 1px solid #00255c;
  margin-top: 0px;
}

@media (min-width:481px) and (max-width:767px){
  .chart {
    width: 400px;
    height: 450px;
  }
}


.option-width25{
  max-width:250px;
  word-wrap: break-word;
}

.header-background{
  background-color: transparent;
  background-image: url('../images/header_background.jpg');
}

.footer-background{
  background-color: transparent;
  background-image: url('../images/hudFooter.jpg');
  line-height: 20px;
  background-size: cover;
  padding: 20px;
  width: 100%;
  background-color: #e8ecf1;
  margin-top: 30px;
  -webkit-box-shadow: 0px 3px 14px #070a09;
  -moz-box-shadow: 0px 3px 14px #070a09;
  box-shadow: 0px 3px 14px #070a09;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=14, Direction=0, Color='#c7c7c7')";
  filter: progid:dximagetransform.microsoft.shadow(Strength=14, Direction=0, Color='#c7c7c7');
}

.footer-background .content{
  overflow: hidden;
  margin: 0 auto;
  text-align: left;
  max-width: 960px;
  color: #464646;
  font-size: 11.5px;
  padding: 22px 10px 0 10px;
}

.header-menu{
  background-color: #f9fafa;
}

.section-margin{margin-top: 75px}

.logo{position: relative; padding: 10px; background-color: transparent;margin-left: 10px}

.header-title{color:#00295A;text-decoration: none;}
a.header-title{text-decoration: none;}

small, canvas, header, hgroup, section{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.small, small {
  font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
footer, header, hgroup, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**  MAIN STYLES  **/

input[type="text"], input[type="email"], input[type="search"], input[type="password"], textarea {
  -webkit-appearance: none;
  background: #fff;
}

header.main {
  background: #208ed3; /* Old browsers */
  background: -moz-linear-gradient(top, #208ed3 0%, #0272bd 100%); /* FF3.6+ */
  background: - webkit-gradient(linear, left top, left bottom, color-stop(0%,#208ed3), color-stop(100%,#0272bd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* IE10+ */
  background: linear-gradient(to bottom, #208ed3 0%,#0272bd 100%); /* W3C */
  padding: 15px 25px;
  height: 30px;
  overflow: hidden;
  border-bottom: 1px solid #5daced;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  position: relative;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
}

header h1 {
  color: #fff;
  /* font-family: 'Open Sans', sans-serif;*/
  font-size: 22px;
  letter-spacing: -1px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  float: left;
  width: 100%;
}

header h1 strong {
  font-weight: 600;
}

header input {
  float: right;
  border: none;
  padding: 5px 10px;
  width: 20%;
  color: #8a8a8a;
  margin: -20px 0 0 0;

  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

header input:focus {
  border: none;
  outline: none;
}

section.content {
  margin: 0 20px 0 0;
  /*padding: 25px;*/

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**  ALERTS  **/

section.alert {
  border-bottom:  1px solid #e3e3e3;
  background: #e9e9e9;
  width: 100%;
  margin-top: -4px;
  padding: 5px 0 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position:  absolute;
  height: 68px;
  overflow: hidden;
}

section.alert button {
  right: 25px;
  margin: 17px 0 0 5px;
  float: right;
}

section.alert div, div.green {
  padding: 10px;
  position: relative;
  margin: 15px 25px 15px 235px;

  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

div.green, div.orange, div.red {
  padding: 10px;
  position: relative;
  margin: 15px 0;

  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

section.alert div p, div.green p, div.orange p, div.red p {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  margin: 0 10px 0 0;
  color: #fff;
}

section.alert .close, div.green .close, div.orange .close, div.red .close {
  font-family: "entypo";
  position: absolute;
  opacity: 0.3;
  top: 10px;
  font-size: 16px;
  cursor: pointer;
  right: 10px;
}

section.alert .green, div.green {
  border: 1px solid #719e37;
  background: #9bc747; /* Old browsers */
  background: -moz-linear-gradient(top, #9bc747 0%, #82bd42 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9bc747), color-stop(100%,#82bd42)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #9bc747 0%,#82bd42 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #9bc747 0%,#82bd42 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #9bc747 0%,#82bd42 100%); /* IE10+ */
  background: linear-gradient(to bottom, #9bc747 0%,#82bd42 100%); /* W3C */
}

section.alert .green a, div.green a {
  color: #4b6a2c;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
}

section.alert .orange, div.orange, button.orange {
  border: 1px solid #f09a2b;
  background: #FEAE46; /* Old browsers */
  background: -moz-linear-gradient(top, #FE962B 0%, #FEAE46 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FE962B), color-stop(100%,#FEAE46)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #FE962B 0%,#FEAE46 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #FE962B 0%,#FEAE46 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #FE962B 0%,#FEAE46 100%); /* IE10+ */
  background: linear-gradient(to bottom, #FE962B 0%,#FEAE46 100%); /* W3C */
}

section.alert .red, div.red, button.red {
  border: 1px solid #af2b1b;
  background: #bc3423; /* Old browsers */
  background: -moz-linear-gradient(top, #bc3423 0%, #cd4433 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bc3423), color-stop(100%,#cd4433)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bc3423 0%,#cd4433 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bc3423 0%,#cd4433 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #bc3423 0%,#cd4433 100%); /* IE10+ */
  background: linear-gradient(to bottom, #bc3423 0%,#cd4433 100%); /* W3C */
}

section.alert .red a, div.red a {
  color: #5f140b;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
}

section.alert .orange a, div.orange a {
  color: #b45900;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
}

section.user {
  border-bottom: 1px solid #2a2a2a;
  background:  #3B3E40;
  height: 66px;
  position: relative;
  height: 65px;
  width: 100%;
  z-index: 1000;
  display: table;
}

section.user .profile-img {
  display: table-cell;
  height: 65px;
  width: 310px;
  vertical-align: middle;
}

section.user .profile-img p {
  color: #fff;
  font-weight : bold;
  margin: 5px 0 0 75px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}

section.user img {
  position: absolute;
  border: 2px solid #f0f0f0;
  top: 50%;
  left: 20px;
  margin: -20px 0 0 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;

  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3)
  0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

section.user .buttons {
  padding: 0 25px 0 0;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

section.user .buttons button {
  position: relative;
}

section.user .button .pip {
  display: block;
  background: #cd4433;
  padding: 2px 5px;
  position: absolute;
  top: -5px;
  right: -5px;
  width: auto;
  font-size: 9px;
  border: 1px solid #222;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button.icon {
  font-family: "entypo";
  font-size: 14px;
  width: 10px;
}

button.ico-font {
  font-family: "entypo";
  font-size: 20px;
  line-height: 0px;
  padding: 17px 10px;
  margin: 0px 0 -14px 0;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  background: #208ed3;
  background: -moz-linear-gradient(top, #208ed3 0%, #0272bd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#208ed3), color-stop(100%,#0272bd));
  background: -webkit-linear-gradient(top, #208ed3 0%,#0272bd 100%);
  background: -o-linear-gradient(top, #208ed3 0%,#0272bd 100%);
  background: -ms-linear-gradient(top, #208ed3 0%,#0272bd 100%);
  background: linear-gradient(to bottom, #208ed3 0%,#0272bd 100%);
  opacity: 0;
}

button.green {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #719e37;
  margin: 0;
  background: #9bc747; /* Old browsers */
  background: -moz-linear-gradient(top, #9bc747 0%, #82bd42 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9bc747), color-stop(100%,#82bd42)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #9bc747 0%,#82bd42 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #9bc747 0%,#82bd42 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #9bc747 0%,#82bd42 100%); /* IE10+ */
  background: linear-gradient(to bottom, #9bc747 0%,#82bd42 100%); /* W3C */
}

/**  WIDGETS **/

.widget-container {
  height: 1%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.widget-container .small:first-child {
  float: left;
}

section.small {
  /*width: 49%;*/
  /*float: right;*/
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

section.widget {
  background: #fff;
  border: 1px solid #e3e3e3;
  margin: 0 0 25px 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  min-height: 275px;
  height: auto !important;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  /*box-shadow: 0 2px 2px rgba(204, 204, 204, 0.2);
  -webkit-box-shadow: 0 2px 2px rgba(204, 204, 204, 0.2);
  -moz-box-shadow: 0 2px 2px rgba(204, 204, 204, 0.2);*/
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

section.widget header {
  background: #3B3E40;
  padding: 5px 25px;
  height: 40px;
  border-bottom: none;
  overflow: visible;

  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  background: url('../images/navbg.png');
}

section.widget header span.icon {
  color: #fff;
  background: #208ed3;
  background: -moz-linear-gradient(top, #208ed3 0%, #0272bd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#208ed3), color-stop(100%,#0272bd));
  background: -webkit-linear-gradient(top, #208ed3 0%,#0272bd 100%);
  background: -o-linear-gradient(top, #208ed3 0%,#0272bd 100%);
  background: -ms-linear-gradient(top, #208ed3 0%,#0272bd 100%);
  background: linear-gradient(to bottom, #208ed3 0%,#0272bd 100%);
  padding: 12px 0;
  font-size: 15px;
  width:29px;
  height: 30px;
  float: left;
  line-height: 9px;
  text-align: center;

  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
}

section.widget header hgroup {
  float: left;
  margin: 0 0 0 15px;
}

section.widget header h1 {
  /* font-family: 'Open Sans', sans-serif;*/
  font-size: 16px;
  line-height: 0px;
  /*margin-top: 10px;*/
}
#appFilterOptions.inputField {
  width: 100%;
  height: 34px;
}
section.widget header h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #5daced;
}

section.widget header aside {
  font-family: "entypo";
  float: right;
}

section.widget header aside button.left-btn {
  font-family: "entypo";
  font-size: 18px;
  margin: 5px -1px 0 0;
  z-index: 50;
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  line-height: 10px;
}

section.widget header aside button.right-btn {
  font-family: "entypo";
  font-size: 18px;
  margin: 5px 0 0 0;
  z-index: 50;
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius:  0 5px 5px 0;
  line-height: 10px;
}

section.widget .content {
  padding: 25px;
}

section.widget header aside > span {
  display: block;
  background: #313131;
  padding: 4px 6px 6px 6px;
  color: white;
  font-size: 14px;
  border-top: 1px solid #1c1f23;
  border-bottom: 1px solid #4c4f56;
  margin: 7px 0 0 0;
  position: relative;

  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

section.widget header aside span a {
  color: #fff;
  font-size: 20px;
  height: 20px;
  display: block;
  line-height: 22px;
}

section.widget  .content .stats-wrapper {
  overflow: hidden;
  height: 1%;
}

section.widget  .content .stats-wrapper .stats {
  background: #f7f7f7;
  border: 1px solid #e3e3e3;
  float: left;
  padding: 35px 25px;
  width: 48%;
  margin: 0 0 25px 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

section.widget .content .stats-wrapper .stats:last-child {
  float: right;
}

section.widget .content .stats-wrapper:last-child div {
  margin: 0;
}

section.widget .stats span {
  font-size: 42px;
  color: #5daced;
  font-weight: 400;
  display: block;
  margin: 0 0 25px 0;
}

section.widget .content .stats-wrapper .stats p {
  margin: 0;
}

section.widget .content.no-padding {
  padding: 0;
}

span.icon {
  font-family: "entypo";
  color: white;
  font-size: 30px;
  display: inline-block;
  text-align: center;
  width: 1.1em ;
}

.graph-area {
  width: 100%;
  height: 300px;
}

section.widget header aside > span:hover {
  background: #f7f7f7;
  border: 1px solid #e3e3e3;
  border-bottom: 0;

  border-radius: 30px 30px 0 0;
  -webkit-border-radius: 30px 30px 0 0;
  -moz-border-radius: 30px 30px 0 0;
}

section.widget header aside span:hover a {
  color: #208ed3;
  font-size: 20px;
  height: 20px;
  display: block;
  line-height: 22px;
}

.widget .timeline {
  border-left: 1px solid #e3e3e3;
  margin: 25px 25px 2px 45px;
  position: relative;
}

.widget .timeline .pie {
  display: none;
}

.widget.small .tl-post {
  overflow: hidden;
  margin: 0 0 30px -24px;
  position: relative;
}
@media(min-width: 768px) {
  .navbar-collapse.collapse {
    clear: both !important;
    background: #fff !important;
  }
  .navbar-brand {
    height: 82px !important; }
  .navbar-nav>li>a {
    line-height: 3px;
    padding: 8px 10px;
  }
}
.d-table { display: table; }
.d-tbcell { display: table-cell; }
.v-middle { vertical-align: middle; }
.full-width { width: 100% !important; }
.nopadding { padding: 0 !important; margin: 0 !important;}
.navbar-inverse .navbar-nav>li>a {
  color: #00295a;
  font-weight: bold;
}
.navbar.navbar-inverse.navbar-fixed-top {
  background: url('../images/header_background.jpg') no-repeat cover;
}
/** Mobile **/
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #00295a;
    background-color: rgba(212, 212, 212, 0.58);
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #00295a;
  }
  .top-nav>li {
    display: block !important;
    float: none;
  }
  .dropdown.open {
    border: 1px solid #ccc;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #00295a;
    background-color: transparent;
  }
  .navbar-header .d-table {
    display: inline;
  }
  header.main, section.widget header {
    padding: 15px;
  }
  .navbar-inverse {
    background-color: transparent;
    color: #00295A;
    border-color: #8096ae;
    background-image: url(../images/header_background.jpg) !important;
    height: 94px;
    background-size: cover;
  }
  .navbar-collapse.collapse.in { background: #eaeaea; margin-top: 31px; }
  .navbar-toggle { margin-top: 16px; margin-right: 2px;}
  section.alert {
    height: auto !important;
    transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
  }

  section.content {
    margin: 85px 0 0 0;
    padding: 15px;

    transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
  }

  section.widget .content {
    padding: 15px;
  }

  .cycle {
    margin: 15px;
  }

  .widget .timeline {
    margin: 15px 15px 2px 35px;
  }

  section.alert div {
    margin: 15px 15px 15px 10px;
    transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
  }

  .widget-container .small:first-child, .widget-container .small {
    float: none;
    width: 100%;
    height: auto !important;
    transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
  }

  span.icon {
    font-size: 30px;
    transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
  }

  section.user .profile-img {
    display: none;
    transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
  }

  header input {
    width: 30%;
  }

  section.widget header span.icon, .button.dropdown, section.alert div span {
    display: none;
  }

  section.widget header hgroup {
    margin: 0;
  }

  button.ico-font {
    opacity: 1
  }

  section.user .buttons {
    text-align: left;
    padding-left: 15px;
  }

  .widget button {
    margin: 0 5px 10px 0;
  }

  section.alert div p {
    margin: 0;
  }

  section.alert button {
    right: 15px;
    margin: 5px 0 10px 5px;
    float: right;
  }

  /*table tr th:nth-child(3),
  table tr th:nth-child(4),
  table tr th:nth-child(5),
  table tr th:nth-child(6),
  table tr th:nth-child(7),
  table tr th:nth-child(8),
  table tr th:nth-child(9),
  table tr td:nth-child(3),
  table tr td:nth-child(4),
  table tr td:nth-child(5),
  table tr td:nth-child(6),
  table tr td:nth-child(7),
  table tr td:nth-child(8),
  table tr td:nth-child(9) {
    display: none;
  }*/

  table#myTable th {
    min-width: 50px;
  }

  .gallery a {
    margin: 0 0 5px 0
  }

  .dropzone {
    padding: 8px !important;
  }

  body.login {
    padding-top: 50px;
  }

  .login section {
    width: 85%;
    margin: 0 auto 0 auto;
  }

  .login section h1 {
    font-size: 32px;
  }
  .legend > table > tbody > tr {
    background-color: #fff;
    color: #333;
    display: table;
  }
  /*body .graph-area { height: 500px !important; }*/
  .legend > table {
    position: relative !important;
  }
  #dashboardMain.content .small.widget {
    height: 550px !important;
  }
}
.small.widget h1 {
  margin: 8px 0;
}

/** iPad **/
@media only screen and (min-width : 768px) and (max-width : 1024px) {

  section.content {
    margin: 75px 0 0 70px;

    transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
  }

}

/** iPads (landscape) **/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

  section.content {
    margin: 75px 0 0 210px;

    transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
  }
}

.btn-login{
  padding: 5px 45px;
  margin-bottom: 0;
  font-size: 12px;
  background-color: #208ed3;
  display: inline-block;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;

}

.btn-reset {
  text-shadow: none;
  /*border: 1px solid #719e37;*/
  margin: 0;
  background: #4b4f51; /* Old browsers */
}
.btn-green{
  padding: 5px 45px;
  /*margin-bottom: 0;*/
  margin: 5px 0 0 0;
  font-size: 12px;
  background-color: #9bc747;
  display: inline-block;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navigation{
  font-weight: bold;
  color: #af0514;
  padding-bottom: 10px;
}

.navigation a{
  color: #af0514;
}

table.dataTable, table.dataTable.no-footer{border: 1px solid #DDD;}

section.content table{width:150px;}
section.content .legendColorBox{width:5px;}

@font-face {
  font-family: 'entypo';
  src: url("../font-awesome/headerIcons/entypo.eot");
  src: url("../font-awesome/headerIcons/entypo.eot?#iefix") format('embedded-opentype'), url("../font-awesome/headerIcons/entypo.woff") format('woff'), url("../font-awesome/headerIcons/entypo.ttf") format('truetype'), url("../font-awesome/headerIcons/entypo.svg#entypo") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'entypo';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.8;
}

.nav .top-nav ul
{
  box-shadow: inset 0 3px 8px #9f9f9f;
  border-collapse: separate;
  padding: 0 0 0 5px;
}

.blue-button
{
  border: 1px solid #323537;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  background: #208ed3;
  background: -moz-linear-gradient(top, #208ed3 0%, #0272bd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#208ed3), color-stop(100%,#0272bd));
  background: -webkit-linear-gradient(top, #208ed3 0%,#0272bd 100%);
  background: -o-linear-gradient(top, #208ed3 0%,#0272bd 100%);
  background: -ms-linear-gradient(top, #208ed3 0%,#0272bd 100%);
  background: linear-gradient(to bottom, #208ed3 0%,#0272bd 100%);
}


.green-button
{
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #719e37;
  margin: 3px;
  padding: 4px 12px;
  background: #9bc747;
  background: -moz-linear-gradient(top, #9bc747 0%, #82bd42 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9bc747), color-stop(100%,#82bd42));
  background: -webkit-linear-gradient(top, #9bc747 0%,#82bd42 100%);
  background: -o-linear-gradient(top, #9bc747 0%,#82bd42 100%);
  background: -ms-linear-gradient(top, #9bc747 0%,#82bd42 100%);
  background: linear-gradient(to bottom, #9bc747 0%,#82bd42 100%);
}

.layout-theme{color: #00295A}

span.edit-icon{color: #00295A;font-size: 20px}
span.disable-icon, span.delete-icon{color: #af0514;font-size: 20px}

.legend table{
  border: 1px solid;
  border-color: #aaa;
}

.btn-reset.focus, .btn-reset:focus, .btn-reset:hover {
  color: #fff;
  text-decoration: none;
}

.top-nav>.open>.dropdown-menu {
  padding: 10;
  margin: 0;
  list-style: none;
  color: #19527F;
  font-family: Georgia,"Times New Roman",Times,serif;
  min-width: 210px;
}
.top-nav>.open>.dropdown-menu>li{
  /*ul.submenu1 li {*/
  z-index: 1;
  position: relative;
  background-color: #FFFFFF;
  /* border-right: 1px solid #19527F;*/
}

.top-nav>.open>.dropdown-menu>li>a{
  color: #00295A;
  border-right: 0;
  font-weight: normal;
  font-size: 12px;
  text-transform: none;
  padding: 3px 12px 3px 16px;
  display: block;
  text-decoration: none;
}
.top-nav>.open>.dropdown-menu>li>a:hover{
  background-color: #19527F;
  color: white;
  font-weight: bold;
  min-width: 210px;
}
.modal-dialog {
  /*padding-top: 3px;*/
  background-color: #fff;
  position: relative;
  /*border-bottom: 2px solid #ccc;*/
  border-top: 4px solid #1f70e8 !important;
}
.borderstyle {
  height: 8px;
  margin-top: 49px;
  border-top: 1px solid #b3b3b3;
  box-shadow: inset 0px -3px 5px 0px rgba(197, 195, 195, 0.92);
  -webkit-box-shadow: inset 0px -3px 5px 0px rgba(197, 195, 195, 0.92);
  -moz-box-shadow: inset 0px -3px 5px 0px rgba(197, 195, 195, 0.92);
}
body .modal-content {
  border: 0;
  border-radius: 0 !important;
  /*border-top: 4px solid #5c62a9 !important;
  box-shadow: 0 4px 7px #ccc !important;
  -webkit-box-shadow: 0 4px 7px #ccc !important;
  -moz-box-shadow: 0 4px 7px #ccc !important;*/
  /*margin: 0 13px;*/
}

@media only screen and (max-width: 320px) {

  body{padding: 0;}

  .container-fluid {
    padding-right: 0;
    padding-left: 5px;
  }

  .navigation{margin-top: 30px;}

  section.content{margin:0; padding: 0;}

  section.widget {min-height: 200px;}

  section.widget header {padding: 0 0 0 15px;}

  section.widget .content { padding: 10px; }

  .cycle { margin:0; }

  body .legend>div{display: none !important;}

  .legend table {
    position: relative !important;
    top: 13px;
    left: 50px;
    font-size: smaller;
    color: #000000 !important;
  }

  .widget button {
    margin: 7px 5px 10px 0;
  }
}
body .legend>div{display: none !important;}
.legend table {
  left: 5%;
  top: -24px !important;
}
body #flot-example-2 .flot-base, body #flot-example-2 .flot-overlay {
  width: 100% !important;
}
@media (min-width:321px) and (max-width:480px){
  body{padding: 0;}

  .container-fluid {
    padding-right: 0;
    padding-left: 5px;
  }

  .navigation{margin-top: 30px;}

  section.content{margin:0; padding: 0;}

  section.widget {min-height: 200px;}

  section.widget header {padding: 0 0 0 15px;}

  section.widget .content { padding: 10px; }

  .cycle { margin:0; }

  body .legend>div{display: none !important;}

  .legend table {
    position: relative !important;
    top: 13px;
    left: 75px;
    font-size: smaller;
    color: #000 !important;
  }

  .widget button {
    margin: 7px 5px 10px 0;
  }
}

@media (min-width:481px) and (max-width:767px){
  body{padding: 0;}

  .container-fluid {
    padding-right: 0;
    padding-left: 5px;
  }

  .navigation{margin-top: 30px; padding-left: 10px}

  section.content{margin: 10px; padding: 0;}

  section.widget {min-height: 200px;}

  section.widget header {padding: 0 0 0 15px;}

  section.widget .content { padding: 0; margin: 5px}

  .cycle { margin:0; }

  body .legend>div{display: none !important;}

  .legend table {
    width: 120px !important;
    right: 0 !important;
    margin-top: 30px;
  }

  .widget button {
    margin: 7px 5px 10px 0;
  }
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  color: #fff;
  background-color: #00295a;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #00295a;
}
.dropdown-menu>li>a {
  display: block;
  padding: 5px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #275a8e;
  white-space: nowrap;
  font-size: 12px;
}
@media (min-width:768px) and (max-width:1198px){

  body{padding: 8px 0;}

  /*.container-fluid {
    padding-right: 0;
    padding-left: 5px;
  }*/

  .navigation{padding-left: 10px;}

  section.content{margin: 10px; padding: 0;}

  section.widget {min-height: 275px;}

  section.widget header {padding: 0 0 0 15px;}

  section.widget .content { padding: 10px; margin: 10px}

  .cycle { margin:0; }

  .widget button {
    margin: 7px 5px 10px 0;
  }

  section.widget header span.icon{margin-top: 5px;}

}
@media (max-width:480px){
  .chart {
    width: 275px;
    height: 300px;
    margin-top: 20px;
  }
  .navbar-header .d-tbcell { display: table; }
  .titleSize h4, .titleSize h5{
    font-size: 12px;
    display: none;
  }
  .navbar-fixed-top { position: relative; }
  .section-margin, .navigation { margin-top: 0px !important; }
  .navigation a { line-height: 30px; }
  .legend table tr {
    display: block;
  }
  .legend table {
    left: 5%;
    top: 6px !important;
  }
}

/*.dataTables_wrapper{ padding-right: 3px !important;}*/
body .dataTables_wrapper {
  width: 99.8% !important;
}

table thead .sorting, table thead .sorting_asc, table thead .sorting_desc {
  cursor: pointer;
  *cursor: hand
}

table thead .sorting, table thead .sorting_asc, table thead .sorting_desc, table thead .sorting_asc_disabled, table thead .sorting_desc_disabled {
  background-repeat: no-repeat;
  background-position: center right
}

table thead .sorting {
  background-image: url("../images/sort_both.png")
}

table thead .sorting_asc {
  background-image: url("../images/sort_asc.png")
}

table thead .sorting_desc {
  background-image: url("../images/sort_desc.png")
}

table thead .sorting_asc_disabled {
  background-image: url("../images/sort_asc_disabled.png")
}

table thead .sorting_desc_disabled {
  background-image: url("../images/sort_desc_disabled.png")
}

table tbody tr {
  background-color: #ffffff
}

table tbody tr.selected {
  background-color: #B0BED9
}

table tbody th, table tbody td {
  padding: 8px 10px
}
