
<div class="container-fluid">
  <div class="navigation">
    <span><a href="#/" alt="Home">Home</a> <span class="color-black">></span> Admin Module <span class="color-black">></span> Roles</span>
  </div>
  <section class="content">
    <section class="small widget">
      <header>
        <span class="icon">&#128196;</span>
        <hgroup>
          <h1 class="pull-left">Roles</h1>
        </hgroup>
        <button id="createRole" type="button" class="btn green-button color-fff pull-right" ng-show="superAdminLogin == true" data-toggle="modal" data-target="#myModal">Create Role</button>
      </header>
      <div class="content cycle">

      <div align="right">
          <div class="d-table">
              <div class="d-tbcell">

                  <!-- Modal -->
                  <div class="modal fade" id="myModal" role="dialog">
                      <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content " align="center">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Create Role</h4>
                              </div>
                              <div class="modal-body">
                                  <div>
                                      <div class=" text-center color-red f-bold" ng-show="roleCreationError">{{createRoleError}}</div>
                                      <form class="simple-form"  ng-submit="createRole(role)">
                                          <div class="form-group" align="left">
                                              <label for="rolename"><span class="color-red f-bold f-left">*</span>Name:</label>
                                              <input type="rolename" class="form-control" id="rolename" ng-model="role.name" placeholder="Enter Role Name"  title="Enter Role Name (Alphabets and Spaces Only)"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                                          </div>
                                          <div class="form-group" align="left">
                                              <label for="roledescr">Description:</label>
                                              <input type="roledescr" class="form-control" id="roledescr" ng-model="role.description" placeholder=" Enter Role Description"  title="Enter Role Description"  data-toggle="tooltip" data-placement="top" autocomplete="off"/>
                                          </div>
                                          <input id="saveRole" type="submit" class="btn green-button color-fff" value="Save" />
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                <div class="modal fade" id="roleEdit" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content" align="center">
                      <div class="modal-header">
                        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                        <h4 class="modal-title">Edit Role</h4>
                      </div>
                      <div class="modal-body">

                        <div>
                          <div class=" text-center color-red f-bold" ng-show="roleCreationError">{{createRoleError}}</div>
                          <form class="simple-form"  ng-submit="editRole()">
                            <div class="form-group" align="left">
                              <label for="rolename"><span class="color-red f-bold f-left">*</span>Name:</label>
                              <input type="rolename" class="form-control" id="rolename1" ng-model="updateRole.name" placeholder="Enter Role Name" title="Enter Role Name (Alphabets and Spaces Only)"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                            </div>
                            <div class="form-group" align="left">
                              <label for="roledescr">Description:</label>
                              <input type="roledescr" class="form-control" id="roledescr1" ng-model="updateRole.description" placeholder=" Enter Role Description" autocomplete="off"/>
                            </div>
                            <input type="submit" class="btn green-button color-fff " value="Update" />
                            <input type="button" class="btn btn-reset color-fff" value="Cancel" ng-click="cancelEdit()" />
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="roleDelete" role="dialog">
                  <div class="modal-dialog ">
                    <!-- Modal content-->
                    <div class="modal-content" align="center">
                      <!--<div class="modal-header">-->

                      <!--</div>-->
                      <div class="modal-body" >
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="row" ng-show="delRole">
                          <div class="col-lg-12">
                              <h4 class="modal-title">Are you sure, you want to delete the Role: {{roleName}}?</h4>
                          </div>
                          <div class="col-lg-12">
                            <div class="col-lg-offset-4 col-lg-4">
                                <button class="btn green-button color-fff" ng-click="deleteRole()">Yes</button>
                                <button class="btn btn-reset color-fff" data-dismiss="modal">No</button>
                            </div>
                          </div>
                        </div>
                        <div ng-show="!delRole">
                          <h4>This Role can't be deleted..Because it is associated with user</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--<div class="d-tbcell">
                  <button type="button" class="btn btn-info btn-lg" >Update</button>
              </div>
              <div class="d-tbcell">
                  <button type="button" class="btn btn-info btn-lg" >Delete</button>
              </div>-->

          </div>


      </div>

      <br/>

      <div class="table-responsive">

          <table datatable="ng" class="table ">
            <caption style=" display: none;">Roles</caption>
              <thead>
                  <tr class="t-head">
                      <!--<th class="agency" custom-sort order="'agency'" sort="sort">Id&nbsp;</th>-->
                      <th class="totaltransactions" custom-sort order="'totaltransactions'" sort="sort" scope="col">Role&nbsp;</th>
                      <th class="inqueue" custom-sort order="'inqueue'" sort="sort" scope="col">Description&nbsp;</th>
                      <th class="responsesfrompaygov" custom-sort order="'responsesfrompaygov'" scope="col" ng-show="superAdminLogin == true" sort="sort">Actions&nbsp;</th>
                  </tr>
              </thead>

              <tbody>
              <tr ng-repeat="roleInfo in rolesData">
                  <!--<td>{{roleInfo.id}}</td>-->
                  <td>{{roleInfo.name}} </td>
                  <td>{{roleInfo.description}}</td>
                  <td ng-show="superAdminLogin == true" class="action-width">
                    <span class="icon cursor-pointer edit-icon m-right5" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#roleEdit" ng-click="editPopup(roleInfo)">&#9998;</span>
                    <!--<span class="icon">&#128200;</span>-->
                    <span class="glyphicon glyphicon-trash tbcell-delete" data-toggle="modal" data-target="#roleDelete" ng-click="deletePopup(roleInfo)"></span>
                  </td>
              </tr>
              </tbody>
          </table>

      </div>
      </div>
    </section>
  </section>
</div>

