
<div class="container-fluid">
  <div class="navigation">
    <span><a href="#/" alt="Home"> Home</a> <span class="color-black">></span> Admin Module <span class="color-black">></span> Users</span>
  </div>
  <section class="content">
    <section class="small widget">
      <header>
        <span class="icon">&#128100;</span>
        <hgroup>
          <h1 class="pull-left">Users : {{filterOption.name}} </h1>
        </hgroup>
        <button id="createUser" type="button" class="btn green-button color-fff pull-right" ng-show="superAdminLogin == true" data-toggle="modal" data-target="#myModal" ng-click="reset()">Create</button>
      </header>
      <div class="content cycle">

        <div align="right">
          <div class="d-table">
            <div class="d-tbcell">

              <!-- Modal -->
              <div class="modal fade" id="myModal" user="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content" align="center">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Create User</h4>
                    </div>
                    <div class="modal-body">
                      <div>
                        <div class=" text-center color-red f-bold" ng-show="userCreationError">{{createUserError}}</div>
                        <form class="simple-form"  ng-submit="createUser()">
                          <!--<span class="color-red f-bold f-left">*All fields are mandatory</span><br>-->
                          <div class="form-group" align="left">

                            <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>First Name:</label>
                                <input type="text" class="form-control" ng-model="user.name" placeholder="Enter First Name" maxlength="20"  title="Enter Your First Name, Max 20 characters"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>Last Name:</label>
                                <input type="text" class="form-control" ng-model="user.lastName" placeholder="Enter Last Name" maxlength="15"  title="Enter Your Last Name, Max 15 characters"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                              </div>
                            </div>
                          </div>
                          <div class="form-group" align="left">
                            <label for="email"> <span class="color-red f-bold f-left">*</span>Email:</label>
                            <input type="text" class="form-control" id="email"  ng-model="user.email" placeholder="Enter Email" title="Enter Your Email"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                          </div>
                          <div class="form-group" align="left">
                            <label><span class="color-red f-bold f-left">*</span>Application Name:</label><br>
                            <select multiple class="form-control" ng-model="user.applicationName">
                              <option ng-repeat="x in applications" value="{{x.name}}">{{x.name}}</option>
                            </select>
                          </div>
                          <div class="form-group" align="left">
                            <label><span class="color-red f-bold f-left"></span>Accessible APIs:</label><br>
                            <select multiple class="form-control" ng-model="user.methodName">
                              <option ng-repeat="x in apiMethods" value="{{x.apiname}}">{{x.apiname}}</option>
                            </select>
                          </div>
                          <div class="row">
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
                              <label for="hudCheck">
                                <input type="checkbox" id="hudCheck"  ng-change="getHudPassword()" ng-model="userHudCheck" autocomplete="off"/>
                                HUD User
                              </label>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
                              <label for="password"><span class="color-red f-bold f-left">*</span>Password:</label>
                              <input type="password" class="form-control" id="password" ng-show="showPwdField" ng-model="user.password" placeholder="Enter Password" minlength="8"  title="Minimum length 8 characters, Password must contains one Uppercase letter, one Special character, one Number"  data-toggle="tooltip" data-placement="top">
                              <input type="password" class="form-control" id="hudpassword" ng-show="!showPwdField" ng-model="hudPwd" placeholder="Enter Password" readonly>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                              <div class="form-group" align="left">
                                <label > <span class="color-red f-bold f-left">*</span>Role:</label><br>
                                <select class="form-control" multiple ng-model="user.role">
                                  <option ng-repeat="x in role" value="{{x.name}}">{{x.name}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                              <div class="form-group" align="left">
                                <label for="status"><span class="color-red f-bold f-left">*</span>Status:</label>
                                <select id="status" class="form-control" ng-model="user.status">
                                  <option value="Active" selected>Active</option>
                                  <option value="Inactive">Inactive</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <input type="submit" class="btn green-button color-fff" value="Save" />
                          <input type="button" class="btn btn-reset color-fff" ng-click="reset()" value="Reset" />
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="userEdit" user="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content" align="center">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Edit User</h4>
                    </div>
                    <div class="modal-body">

                      <div>
                        <div class=" text-center color-red f-bold" ng-show="userCreationError">{{createUserError}}</div>
                        <form class="simple-form"  ng-submit="editUser()">
                          <div class="form-group" align="left">
                            <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>First Name:</label>
                                <input type="text" class="form-control" id="firstName" ng-model="updateUser.name" placeholder="Enter First Name" maxlength="20"  title="Enter Your First Name, Max 20 characters"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>Last Name:</label>
                                <input type="text" class="form-control" id="lastName" ng-model="updateUser.lastName" placeholder="Enter Last Name" maxlength="15"  title="Enter Your Last Name, Max 15 characters"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                              </div>
                            </div>
                          </div>
                          <div class="form-group" align="left">
                            <label for="email"><span class="color-red f-bold f-left">*</span>Email:</label>
                            <input type="email" class="form-control" id="email1" ng-model="updateUser.email" placeholder=" Enter Email "  title="Enter Your Email"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                          </div>
                          <div class="form-group" align="left">
                            <label><span class="color-red f-bold f-left">*</span>Application Name:</label><br>
                            <select multiple id="userEditApp" class="form-control" ng-model="updateUser.applicationName">
                              <option ng-repeat="x in applications" ng-selected="updateUser.applicationName.indexOf(x.name) > -1" value="{{x.name}}">{{x.name}}</option>
                            </select>
                          </div>
                          <div class="form-group" align="left">
                            <label><span class="color-red f-bold f-left"></span>Accessible  APIs:</label><br>
                            <select multiple class="form-control" ng-model="updateUser.methodName">
                              <option ng-repeat="x in apiMethods" ng-selected="updateUser.methodName.indexOf(x.apiname) > -1" value="{{x.apiname}}">{{x.apiname}}</option>
                            </select>
                          </div>
                          <div class="row">
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
                              <label for="hudCheck">
                                <input type="checkbox" id="hudCheckEdit"  ng-change="getHudPassword('edit')" ng-model="userHudCheck" autocomplete="off"/>
                                HUD User
                              </label>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
                              <label for="password">Password:</label>
                              <input type="password" class="form-control" ng-show="showPwdField" ng-model="updateUser.password" placeholder="Enter Password" minlength="8"  title="Minimum length 8 characters, Password must contains one Uppercase letter, one Special character, one Number"  data-toggle="tooltip" data-placement="top">
                              <input type="password" class="form-control" ng-show="!showPwdField" ng-model="hudPwd" placeholder="Enter Password" readonly>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                              <div class="form-group" align="left">
                                <label ><span class="color-red f-bold f-left">*</span>Role:</label><br>
                                <select  multiple class="form-control" ng-model="updateUser.role">
                                  <option ng-repeat="x in role" ng-selected="updateUser.role.indexOf(x.name) > -1" value="{{x.name}}">{{x.name}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                              <div class="form-group" align="left">
                                <label for="status1"><span class="color-red f-bold f-left">*</span>Status:</label>
                                <select id="status1" class="form-control" ng-model="updateUser.status">
                                  <option value="Active" ng-selected="updateUser.status == 'Active'">Active</option>
                                  <option value="Inactive" ng-selected="updateUser.status == 'Inactive'">Inactive</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <input type="submit" class="btn green-button color-fff " value="Update" />
                          <input type="button" class="btn btn-reset color-fff" value="Cancel" ng-click="cancelEdit()" />
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="userDelete" user="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content" align="center">
                    <!--<div class="modal-header">-->

                    <!--</div>-->
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <div class="row">
                        <div class="col-lg-12">
                          <h5>Are you sure, you want to <span ng-show="!enableStatus">disable</span><span ng-show="enableStatus">enable</span> the user : {{userName}}?</h5>
                        </div>
                        <div class="col-lg-12">
                          <div class="col-lg-offset-4 col-lg-4">
                            <button class="btn green-button color-fff" ng-click="disableUser()">Yes</button>
                            <button class="btn btn-reset color-fff" data-dismiss="modal">No</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br/>

        <div class="table-responsive">
          <table datatable="ng" class="">
            <caption style=" display: none;">Users</caption>
            <thead>
            <tr class="t-head">
              <!--<th class="id" custom-sort order="'id'" sort="sort">Id&nbsp;</th>-->
              <th class="username" custom-sort order="'username'" sort="sort" scope="col">Email&nbsp;</th>
              <th class="agencyId" custom-sort order="'agencyId'" sort="sort" scope="col">Application Name&nbsp;</th>
              <th class="role" custom-sort order="'role'" sort="sort" scope="col">Role&nbsp;</th>
              <!--<th class="email" custom-sort order="'email'" sort="sort">Email&nbsp;</th>-->
              <th class="status" custom-sort order="'status'" sort="sort" ng-show="superAdminLogin == true" scope="col">Actions&nbsp;</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="userDetails in usersData">
              <!--<td>{{userDetails.id}}</td>-->
              <td>{{userDetails.email}}</td>
              <td>  <div ng-repeat="userApplicationName in userDetails.applicationName track by $index">
                {{userApplicationName}}
              </div></td>
              <td>
                <div ng-repeat="userRole in userDetails.role track by $index">
                  {{userRole}}
                </div>
              </td>
              <!--<td>{{userDetails.email}}</td>-->
              <td ng-show="superAdminLogin == true" class="action-width">
                <span class="icon cursor-pointer edit-icon m-right5" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#userEdit" ng-click="editPopup(userDetails)">&#9998;</span>
                <span class="icon cursor-pointer disable-icon" ng-if="userDetails.status == 'Active'" data-toggle="modal" data-target="#userDelete" ng-click="deletePopup(userDetails, 'disable')">&#128683;</span>
                <span class="icon cursor-pointer disable-icon" style="color:#719e37" data-toggle="modal" data-target="#userDelete" ng-click="deletePopup(userDetails, 'enable')" ng-if="userDetails.status == 'Inactive'">&#10003;</span>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </section>
  </section>
</div>
