doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='user-scalable=no, width=device-width')
    meta(name='format-detection', content='telephone=no')
    meta(http-equiv='X-UA-Compatible', content='IE=9; IE=8; IE=7')
    meta(http-equiv='X-Frame-Options', content='deny')
    meta(http-equiv='Cache-Control', content='no-cache, no-store, must-revalidate')
    meta(http-equiv='Pragma', content='no-cache')
    meta(http-equiv='Expires', content='-1')
    meta(http-equiv='X-Content-Type-Options', content='nosniff')
    title Payment Form
    // <link href="css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
    link(href='css/paymentStyle.css', rel='stylesheet')
    // <link href="css/sb-admin.css" rel="stylesheet">
    script(type='text/javascript', src='js/jquery.js')
    script(type='text/javascript', src='js/jquery-ui.js')
    script(type='text/javascript', src='js/angular.min.js')
    // <script type="text/javascript" src="js/paymentForm.js"></script>
    style#antiClickjack.
      body{display:none !important;}
    script.
      var app = angular.module("validationApp", []);
      app.directive('validPasswordC', function () {
        return {
          require: 'ngModel',
          scope: {

            reference: '=validPasswordC'

          },
          link: function (scope, elm, attrs, ctrl) {
            ctrl.$parsers.unshift(function (viewValue, $scope) {

              var noMatch = viewValue != scope.reference
              ctrl.$setValidity('noMatch', !noMatch);
              return (noMatch) ? noMatch : !noMatch;
            });

            scope.$watch("reference", function (value) {
              ;
              ctrl.$setValidity('noMatch', value === ctrl.$viewValue);

            });
          }
        }
      });
      app.controller("mainController", function($scope,$http,$location) {
      $scope.paymentAmountText = '!{payment_amount}';
      $scope.paymentDateText = '!{payment_date}';
      $scope.formNavStep2 = function() {
      $("#formNavStep1Div").hide();
      $("#formNavStep2Div").show();
      $("#formNavStep3Div").hide();
      $("#formNavStep1").removeClass("active-step");
      $("#formNavStep2").addClass("active-step");
      $("#formNavStep3").removeClass("active-step");
      // check to make sure the form is completely valid
      if ($scope.userForm.$valid) {
      }
      };

      $scope.formNavStep1 = function() {
      $("#formNavStep1Div").show();
      $("#formNavStep2Div").hide();
      $("#formNavStep3Div").hide();
      $("#formNavStep1").addClass("active-step");
      $("#formNavStep2").removeClass("active-step");
      $("#formNavStep3").removeClass("active-step");
      };
      $scope.formNavStep3 = function() {
        var agreement = $("#agree").is(':checked');
        if (!agreement) {
          alert("Please check agreement box");
        }else 
        {
          $("#formNavStep1Div").hide();
          $("#formNavStep1").removeClass("active-step");

          // check to make sure the form is completely valid
          if ($scope.userForm.$valid) {
            $scope.location = $location;
            var searchObject = $location.search();

            var id = '!{agencyId}';
            var trackingId = '!{agency_tracking_id}';
            var tcsAppId = '!{tcsAppId}';
            var paymentAmount = '!{payment_amount}';
            var paymentDate = '!{payment_date}';
            var formData = JSON.stringify($scope.user);
            $.get("/processPayment?userData=" + formData + "&agencyId=" + id + "&agency_tracking_id=" + trackingId +
              "&paymentAmount=" + paymentAmount + "&paymentDate=" + paymentDate + "&tcsAppId=" + tcsAppId, function (data) {
              window.location.href = data;
            });
          }
        }
      };
      })
    script(type='text/javascript').
      /* Clickjacking prevention */
      if (self === top) {
      var antiClickjack = document.getElementById("antiClickjack");
      antiClickjack.parentNode.removeChild(antiClickjack);
      } else {
      top.location = self.location;
      }
      $(document).ready(function() {
      $("#formNavStep2Div").hide();
      $("#formNavStep3Div").hide();
      });
    //if IE 7
      style.
        .mainNav .content form input[type=text] {
        height: 28px;
        width: 298px;
        }
        .mainNav .content a {
        position: relative;
        top: -8px;
        }
        .registrationBtns .middleContainer {
        display: inherit;
        vertical-align: inherit;
        padding: 0px;
        }
        .container .containerContent .refineResults .searchFilter label {
        margin-top: 4px;
        }
        .container .containerContent .refineResults .searchFilter .showAll {
        padding-left: 38px;
        }
        .container .containerContent .searchResults .searchItem .buttons .right {
        margin-top: -36px;
        }
    //if IE 8
      style.
        .mainNav .content form input[type=text] {
        position: relative;
        top: -8px;
        }
    style.
      .continueButton {
      float: right;
      margin: 0 !important;
      }
      .right,.left {
      margin: 0 !important;
      }
      .radioContainer label {
      display: inline !important;
      }
      .myClass {
      color: #00255C;
      }
      .ui-datepicker
      {
      z-index: 9999 !important;
      }
  body
    a.skip(href='#mainContent', tabindex='1') Skip to content
    #cookiesRequiredError.browserRequirementsError.hidden
      div Pay.gov requires the use of cookies. Please enable cookies before continuing.
    #oldIEError.browserRequirementsError.hidden
      div
        | For the best website experience, please use Internet Explorer 9 or higher, Chrome, Firefox, or Safari.
    .header
      .content
        // content
        .d-table.full-width
          .d-tbcell.v-middle
            a.navbar-brand.nopadding(href='#/')
              img(src='images/hudimg.png', alt='HUD Logo', title='HUD Logo')
          .d-tbcell.v-middle
            .titleSize
              h4.nopadding
                span
                  b
                    a.header-title.cursor-pointer.layout-theme(href='#/') HPCS
              h5.nopadding
                span
                  b
                    a.header-title.cursor-pointer.layout-theme(href='#/') Hud Pay.Gov Common Services
        .mMenuContianer
          .showMenu
            | Menu
      #loadingDiv.modal.hidden
    .mainNav
      .content
        .navLinks
          a#a_make_payment.mainNavItem(href='') Make a Payment
    #mainContent
      .container
        h1#formNameContainer
          | HUD Interactive Application Payment Form
        .containerContent
          .content
            .inputForm(ng-app='validationApp', ng-controller='mainController')
              .wizard-steps
                #formNavStep1.active-step
                  a(href='#')
                    span 1
                    |  Enter Payment Info
                #formNavStep2
                  a(href='#')
                    span 2
                    |  Authorize Payment
                #formNavStep3
                  a(href='#')
                    span 3
                    |  Confirmation
              .clear
              form#userForm(name='userForm', novalidate='', method='post')
                #formNavStep1Div
                  .required
                    | Pay Via Bank Account (ACH). Required fields are marked with an
                    span.marker(title='Required') *
                    |  .
                  // Account Holder NAME
                  .form-group(ng-class="{ 'has-error' : userForm.accountHolderFN.$invalid && !userForm.accountHolderFN.$pristine }")
                    label(for='accountHolderFN')
                      span.marker(title='Required') *
                      | Account Holder Name
                    input#accountHolderFN.form-control(name='accountHolderFN', ng-model='user.accountHolderFN', placeholder='Account Holder First Name', type='text', required='', value='', maxlength='80')
                    p.errorMsg(ng-show='userForm.accountHolderFN.$invalid && !userForm.accountHolderFN.$pristine') You name is required.
                    .form-group(ng-class="{ 'has-error' : userForm.accountHolderLN.$invalid && !userForm.accountHolderLN.$pristine }")
                      label(for='accountHolderLN')
                        span.marker(title='Required') *
                        | Account Holder Name
                      input#accountHolderLN.form-control(name='accountHolderLN', ng-model='user.accountHolderLN', placeholder='Account Holder Last Name', type='text', required='', value='', maxlength='80')
                      p.errorMsg(ng-show='userForm.accountHolderLN.$invalid && !userForm.accountHolderLN.$pristine') You name is required.
                  label {{paymentAmountText}}
                  #newAccount.form-group
                    label(for='accountType')
                      span.marker(title='Required') *
                      | Select Account Type
                    select#accountType(name='accountType', title='account type', ng-model='user.accountType')
                      option(value='') Select Account Type
                      option(value='BusinessChecking') Business Checking
                      option(value='BusinessSavings') Business Savings
                      option(value='PersonalChecking') Personal Checking
                      option(value='PersonalSavings') Personal Savings
                    label.errorMsg(for='accountType')
                   .form-group(ng-class="{ 'has-error' : userForm.routing.$invalid && !userForm.routing.$pristine }")
                    label(for='routing')
                      span.marker(title='Required') *
                      | Routing Number
                    input#routing.form-control(name='routing', placeholder='Routing Number', type='text', required='', value='', ng-model='user.routing', ng-minlength='9', ng-maxlenght='9', autocomplete='off', ng-pattern='/^((0[0-9])|(1[0-2])|(2[1-9])|(3[0-2])|(6[1-9])|(7[0-2])|80)([0-9]{7})$/')
                    p.errorMsg(ng-show='userForm.routing.$invalid && !userForm.routing.$pristine') Routing number is required.
                    p.errorMsg(ng-show='userForm.routing.$error.pattern')
                      | Invalid routing number
                  .form-group(ng-class="{'has-error':userForm.account.$invalid && !userForm.account.$pristine}")
                    label
                      span.marker(title='Required') *
                      | Account Number
                    input#account(type='text', name='account', ng-model='user.account', ng-minlength='8', ng-maxlength='20', placeholder='Account Number', required='', value='123456789')
                    p.errorMsg(ng-show='userForm.account.$error.required && !userForm.account.$pristine') Account number is required
                    p.errorMsg(ng-show='userForm.account.$error.minlength')
                      | Account number must be between 8 and 20 characters.
                  .form-group(ng-class="{'has-error':userForm.account2.$invalid && !userForm.account2.$pristine}")
                    label(for='account2')
                      span.marker(title='Required') *
                      | Confirm Account Number
                    input#account2(type='text', name='account2', ng-model='user.account2', placeholder='Confirm Account Number', valid-password-c='user.account', required='', value='123456789')
                    p.errorMsg(ng-show='userForm.account2.$error.noMatch') Account numbers do not match.
                    p.errorMsg(ng-show='userForm.account2.$error.required && !userForm.account2.$pristine') Account number is required.
                    .form-group(ng-class="{'has-error':userForm.checkNumber.$invalid && !userForm.checkNumber.$pristine}")
                      label(for='checkNumber')
                        span.marker(title='Required') *
                        | Check Number
                      input#checkNumber(type='text', name='checkNumber', ng-model='user.checkNumber',ng-maxlength='8', placeholder='Check Number', required='', value='')
                      p.errorMsg(ng-show='userForm.checkNumber.$error.required && !userForm.checkNumber.$pristine') Check number is required.
                       p.errorMsg(ng-show='userForm.checkNumber.$error.maxlength')
                        | Check number must be less than 8 digits.
                  label {{paymentDateText}}
                  button(ng-disabled='userForm.$invalid', ng-click='formNavStep2()') Continue with ACH Payment
                  button(type='button') Cancel
                #formNavStep2Div
                  h3 Payment Information
                  .indented
                    p(id='')
                      | Payment Type:
                      span.highlighted(id='') Bank account (ACH)
                    p
                      | Payment Amount:
                      span#paymentAmountValue.highlighted ${{paymentAmountText}}
                    p#paymentDateContainer
                      | Payment Date:
                      span.highlighted {{paymentDateText}}
                  h3 Account Information
                  .indented
                    p#achAccountNameContainer
                      | Account Holder Name:
                      span.highlighted(id='') {{user.accountHolderFN}} {{user.accountHolderLN}}
                    p#achRoutingContainer
                      | Routing Number:
                      span#achRoutingValue.highlighted {{user.routing}}
                    p(id='')
                      | Account Type:
                      span#achAccountTypeValue.highlighted {{user.accountType}}
                    p#achAccountContainer
                      | Account Number:
                      span#achAccountValue.highlighted {{user.account}}
                      p#checkNumberContainer
                        | Check Number:
                        span#checkValue.highlighted {{user.checkNumber}}
                  .clear
                  textarea#disclosureText.agreement(readonly='true', title='ach disclosure agreement')
                    | Authorization and Disclosure--Consumers and Businesses
                    | The debit transaction(s) to which you are agreeing are handled on behalf of Federal agencies by "Pay.gov," which consists of services offered by the U.S. Treasury Department's Bureau of the Fiscal Service. As used in this document, "we" or "us" refers to the Bureau of the Fiscal Service and its agents and contractors operating Pay.gov. "You" refers to the end-user reading this document and agreeing to it prior to engaging in a debit transaction.
                    | I. Consumers
                    | A. Authorization
                    | You acknowledge that you have read and understand the consumer disclosure language and authorize the Federal Reserve Bank of Cleveland to debit the named financial institution account. This authorization is to remain in full force and effect until we have received notification of its termination in such time and in such manner as to afford Pay.gov a reasonable opportunity to act on it, or unless otherwise terminated for any reason by Pay.gov.
                    | B. Disclosure
                    | In case of errors or questions about a transaction, immediately contact the Federal agency using the Pay.gov service or contact Pay.gov directly. ALL QUESTIONS ABOUT PAY.GOV TRANSACTIONS MUST BE DIRECTED TO THE FEDERAL AGENCY USING OUR SERVICE OR US AND NOT TO THE FINANCIAL INSTITUTION WHERE YOU HAVE YOUR ACCOUNT. Before you send confidential information by e-mail, please be aware that information delivered by e-mail is not secure and, while not likely, can be intercepted and viewed by others. If you tell us orally or by e-mail, we may require that we receive your complaint or question in writing (by paper and not e-mail) within 10 business days. Our business days are Monday through Friday, and some holidays are not included. We will determine whether an error occurred within 10 business days after we hear from you and will correct any error promptly. If we need more time, however, we may take up to 45 days to investigate your complaint or question. If we decide to do this, we will credit your financial institution account within 10 business days for the amount you think is in error, so that you will have the use of the money during the time it takes us to complete our investigation. If we ask you to put your complaint or question in writing and we do not receive it within 10 business days, we may not credit your account. We will send you the results within three business days after completing our investigation. If we decide that there was no error, we will send you a written explanation. You may ask for copies of the documents that we used in our investigation. TELL US AT ONCE IF YOU BELIEVE YOUR AUTHENTICATION CREDENTIALS (SUCH AS ANY PASSWORD THAT COULD BE USED TO AUTHORIZE A TRANSACTION) MAY HAVE BEEN STOLEN OR COMPROMISED. Telephoning or e-mailing is the fastest way of keeping your possible losses down, but again be aware that e-mail is not secure. If you tell us within four business days, you can lose no more than $50 if someone uses your credentials without your permission to authorize a debit transaction. If you do NOT tell us within two business days after you learn of the loss or theft of your authentication credentials, and we can prove we could have stopped someone from using your authentication credentials without your permission if you had told us, you could lose as much as $500. Also, if your financial institution account statement shows transfers that you did not make, tell us at once. If you do not tell us within 60 days after your financial institution statement was mailed to you, you may not get back any money you lost after the 60 days if we can prove that we could have stopped someone from taking the money if you had told us in time. If a good reason (such as a long trip or a hospital stay) kept you from telling us, we will extend the time periods. We will not send you a periodic statement listing transactions that you make. The transactions will appear on the account statement issued by your financial institution. PRINT OUT AND SAVE A COPY OF YOUR PAYMENT CONFIRMATION THAT IS DISPLAYED WHEN YOU APPROVE A PAYMENT AND CHECK IT AGAINST THE ACCOUNT STATEMENT YOU RECEIVE FROM YOUR FINANCIAL INSTITUTION. If you have authorized us in advance to  make regular payments out of your account, you can stop any of these payments if you contact us sufficiently in advance.In some instances, you can cancel payments yourself online. We may not be able to stop the payment if you do not contact us at least three business days before the payment is scheduled to be made. If you call or e-mail, we may also require that we receive your request in writing (by paper and not e-mail) within 14 days. If we do not complete a Pay.gov transfer on time or in the correct amount according to our agreement with you, we will be liable for your losses and damages. We will not be liable for circumstances beyond our control or within your control. For instance, we will not be liable if: (a) Through no fault of ours, you do not have enough money in your financial institution account to make the transfer; (b) The service was not working properly and you knew it was not working properly when you started the transfer; (c) You provide us with incorrect financial institution account information or duplicate payment instructions; or (d) Circumstances beyond our control (such as fire, flood, or strike) prevent the transfer, despite reasonable precautions that we have taken. PLEASE BE SURE TO PRINT OUT A COPY OF THIS AUTHORIZATION AND DISCLOSURE LANGUAGE AND KEEP A COPY FOR YOUR RECORDS.
                    | II. Businesses
                    | A. Authorization
                    | You acknowledge that you have read and understand the Pay.gov business disclosure language, have the authority to act on behalf of your business with regard to the named financial institution account, and authorize the Federal Reserve Bank of Cleveland to debit the named financial institution account. This authorization is to remain in full force and effect until we have received notification of its termination in such time and in such manner as to afford Pay.gov a reasonable opportunity to act on it, or unless otherwise terminated for any reason by Pay.gov.
                    | B. Disclosure
                    | In case of errors or questions about a transaction, immediately contact the Federal agency using the Pay.gov service or contact Pay.gov directly. ALL QUESTIONS ABOUT PAY.GOV TRANSACTIONS MUST BE DIRECTED TO THE FEDERAL AGENCY USING OUR SERVICE OR US AND NOT TO THE FINANCIAL INSTITUTION THAT HOLDS THE ACCOUNT. Before you send confidential information by e-mail, please be aware that information delivered by e-mail is not secure and, while not likely, can be intercepted and viewed by others. TELL US AT ONCE IF YOU BELIEVE YOUR AUTHENTICATION CREDENTIALS (SUCH AS ANY PASSWORD THAT COULD BE USED TO AUTHORIZE A TRANSACTION) MAY HAVE BEEN STOLEN OR COMPROMISED. Telephoning or e-mailing is the fastest way of keeping your possible losses down, but again be aware that e-mail is not secure. Except as otherwise provided by law or agreement, fund transfer instructions (including a cancellation or amendment of a payment) submitted by an end-user authenticated in compliance with our security procedures may be deemed effective as if made by you even if they are subsequently determined to be unauthorized. Such instructions will be deemed effective, and you may be liable for the amount of such instructions, even though they are not transmitted or authorized by you. If you have authorized us in advance to a payment out of the account, you can stop any of these payments if you contact us sufficiently in advance. In some instances, you can cancel payments yourself online. We may not be able to stop the payment if you do not contact us at least three business days before the payment is scheduled to be made. If you call or e-mail, we may require that we receive your request in writing (by paper and not e-mail) within 14 calendar days. Our liability and that of any agency for any failed or otherwise erroneous transaction cannot exceed the amount of the transaction. We will not be liable for circumstances beyond our control or within your control. For instance, we will not be liable if: (a) Through no fault of ours, there is not enough money in the financial institution account to make the transfer; (b) The service was not working properly and you knew it was not working properly when you started the transfer; (c) You provide us with incorrect financial institution account information or duplicate payment instructions; or (d) Circumstances beyond our control (such as fire, flood, or strike) prevent the transfer, despite reasonable precautions that we have taken. PLEASE BE SURE TO PRINT OUT A COPY OF THIS AUTHORIZATION AND DISCLOSURE LANGUAGE AND KEEP A COPY FOR YOUR RECORDS.
                  .checkboxLabel
                    span.marker(title='Required') *
                    input#agree(name='agree', required='required', type='checkbox', value='true')
                    input(type='hidden', name='_agree', value='on')
                    label#agreementParagraph(for='agree') I agree to the Pay.gov authorization and disclosure statement
                    p.errorMsg
                  .clear
                  div
                    span.buttonWrapper.red.buttonWrapperRight
                      a#continueButton.submitButtonsLink(ng-click='formNavStep3()', title='')
                        span.text  Submit Payment
                    span.buttonWrapper.buttonWrapperLeft
                      a#previousButton.submitButtonsLink(ng-click='formNavStep1()', title='')
                        span.text  Previous
                #formNavStep3Div
                  div(style='line-height:1.35em;')
                    br
    .subfooter
      .content
        .subfooterItem.sbu
          h3 WARNING     WARNING     WARNING
          |       You have accessed a United States Government computer. Unauthorized use of this computer is a violation of federal law and may subject you to civil and criminal penalties. This computer and the automated systems which run on it are monitored. Individuals are not guaranteed privacy while using government computers and should, therefore, not expect it. Communications made using this system may be disclosed as allowed by federal law.
          br
          br
          |       Note: This system may contain Sensitive But Unclassified (SBU) data that requires specific data privacy handling.
    .footer
      .content
        a(href='') Contact Us
        span.spacer |
    // Modal Diaglog




