block content
  script(type='text/javascript').
    window.localStorage.setItem('accessToken', '#{accessToken}');
    window.localStorage.setItem('accessTokenExpireTime', '#{accessTokenExpireTime}');
    window.localStorage.setItem('userLogin', '#{userLogin}');
    window.localStorage.setItem('userEmail', '#{userEmail}');
    window.localStorage.setItem('ssoMessage', '#{message}');
    window.localStorage.setItem('userName', '#{userName}');
    window.localStorage.setItem('sso', '#{sso}');
  include ../index.html


